<%
if root_locale == :en
  color = "blue"
elsif root_locale == :nl
  color = "amaranth"
elsif root_locale == :de
  color = "pink"
end

if root_locale == :nl
  icon = "capp-lms.svg"
else
  icon = "learning-#{color}.svg"
end
%>

<section class="solutions">

  <div class="headline">
    <h2><%= t("products.title") %></h2>
  </div>

  <div class="row">

    <div class="solution">
      <div class="solution-icon">
        <%= locale_link_to image_tag("icons/#{icon}", alt: t("home.solutions.learn.title")), "/capp-lms.html" %>
      </div>
      <h3><%= locale_link_to t("home.solutions.learn.title"), "/capp-lms.html" %></h3>
      <%= markitdown t("home.solutions.learn.text_html", link: locale_link_to("CAPP", "/capp-lms.html")) %>
      <%= locale_link_to t("actions.more_about.capp"), "/capp-lms.html", class: "button small #{color}" %>
    </div>

    <% if root_locale == :de %>

      <div class="solution">
        <div class="solution-icon">
          <%= locale_link_to image_tag("icons/capp-develop-pink.svg", alt: t("home.solutions.develop.title")), "/capp-talent-management.html" %>
        </div>
        <h3><%= locale_link_to t("home.solutions.develop.title"), "/capp-talent-management.html" %></h3>
        <%= markitdown t("home.solutions.develop.text_html", link: locale_link_to("CAPP", "/capp-talent-management.html")) %>
        <%= locale_link_to t("actions.more_about.capp-entwickeln"), "/capp-talent-management.html", class: "button small #{color}" %>
      </div>

      <div class="solution">
        <div class="solution-icon">
          <%= locale_link_to image_tag("icons/compliance-pink.svg", alt: t("home.solutions.quality.title")), "/capp-compliance.html" %>
        </div>
        <h3><%= locale_link_to t("home.solutions.quality.title"), "/capp-compliance.html" %></h3>
        <%= markitdown t("home.solutions.quality.text_html") %>
        <%= locale_link_to t("actions.more_about.quality"), "/capp-compliance.html", class: "button small pink" %>
      </div>

    <% elsif root_locale == :en %>

      <div class="solution">
        <div class="solution-icon">
          <%= locale_link_to image_tag("icons/compliance-turquoise.svg", alt: t("home.solutions.quality.title")), "/capp-compliance.html" %>
        </div>
        <h3><%= locale_link_to t("home.solutions.quality.title"), "/capp-compliance.html" %></h3>
        <%= markitdown t("home.solutions.quality.text_html") %>
        <%= locale_link_to t("actions.more_about.quality"), "/capp-compliance.html", class: "button small turquoise" %>
      </div>

      <div class="solution">
        <div class="solution-icon">
          <%= locale_link_to image_tag("icons/informal-green.svg", alt: t("home.solutions.informal.title")), "/capp-agile-learning.html" %>
        </div>
        <h3><%= locale_link_to t("home.solutions.informal.title"), "/capp-agile-learning.html" %></h3>
        <%= markitdown t("home.solutions.informal.text_html", link: locale_link_to("CAPP Agile Learning", "/capp-agile-learning.html")) %>
        <%= locale_link_to t("actions.more_about.capp-agile"), "/capp-agile-learning.html", class: "button small green" %>
      </div>

    <% elsif root_locale == :nl %>

      <div class="solution">
        <div class="solution-icon">
          <%= locale_link_to image_tag("icons/capp-compliance-new.svg", alt: t("home.solutions.capp-compliance.title")), "/capp-compliance.html" %>
        </div>
        <h3><%= locale_link_to t("home.solutions.capp-compliance.title"), "/capp-compliance.html" %></h3>
        <%= markitdown t("home.solutions.capp-compliance.text_html") %>
        <%= locale_link_to t("actions.more_about.capp-compliance"), "/capp-compliance.html", class: "button small persian-green" %>
      </div>

      <div class="solution">
        <div class="solution-icon">
          <%= locale_link_to image_tag("icons/capp-agile-learning-new.svg", alt: t("home.solutions.informal.title")), "/capp-agile-learning.html" %>
        </div>
        <h3><%= locale_link_to t("home.solutions.informal.title"), "/capp-agile-learning.html" %></h3>
        <%= markitdown t("home.solutions.informal.text_html", link: locale_link_to("CAPP Agile Learning", "/capp-agile-learning.html")) %>
        <%= locale_link_to t("actions.more_about.capp-agile"), "/capp-agile-learning.html", class: "button small new-green" %>
      </div>
    <% end %>

  </div>
</section>
