<ul class="solutions-list">

  <li class="capp-learning">
    <% link_to "/capp-learning.html", class: "col left" do %>
      <h2>
        <%= image_tag "logos/new/logo-capp-learning.svg", alt: t("capp-learning.name"), title: t("capp-learning.name") %>
      </h2>
    <% end %>
    <div class="col right">
      <p><%= t("capp-learning.description", link: link_to(t("capp-learning.name"), "/capp-learning.html")) %></p>
      <%= link_to t("actions.more_about.capp"), "/capp-learning.html", class: "button amaranth outline" %>
    </div>
  </li>

  <li class="capp-compliance">
    <% link_to "/capp-compliance.html", class: "col left" do %>
      <h2>
        <%= image_tag "logos/new/logo-capp-compliance.svg", alt: t("capp-compliance.name"), title: t("capp-compliance.name") %>
      </h2>
    <% end %>
    <div class="col right">
      <p><%= t("capp-compliance.description", link: link_to(t("capp-compliance.link"), "/capp-compliance.html")) %></p>
      <%= link_to t("actions.more_about.capp-compliance"), "/capp-compliance.html", class: "button persian-green outline" %>
    </div>
  </li>

  <li class="capp-compliance-api">
    <% link_to "/capp-compliance-api.html", class: "col left" do %>
      <h2>
        <%= image_tag "logos/logo-capp-compliance-api.svg", alt: t("capp-compliance-api.name"), title: t("capp-compliance-api.name") %>
      </h2>
    <% end %>
    <div class="col right">
      <p><%= t("capp-compliance-api.description", link: link_to(t("capp-compliance-api.link"), "/capp-compliance-api.html")) %></p>
      <%= link_to t("actions.more_about.capp-compliance-api"), "/capp-compliance-api.html", class: "button orange-golden outline" %>
    </div>
  </li>

  <li class="capp-quizzes">
    <% link_to "/capp-quizzes.html", class: "col left" do %>
      <h2>
        <%= image_tag "logos/logo-quizzes.svg", alt: t("capp-quizzes.name"), title: t("capp-quizzes.name") %>
      </h2>
    <% end %>
    <div class="col right">
      <p><%= t("capp-quizzes.description", link: link_to(t("capp-quizzes.link"), "/capp-quizzes.html")) %></p>
      <%= link_to t("actions.more_about.capp-quizzes"), "/capp-quizzes.html", class: "button dodger-blue outline" %>
    </div>
  </li>

  <li class="capp-agile-learning-new">
    <% link_to "/capp-agile-learning.html", class: "col left" do %>
      <h2>
        <%= image_tag "logos/new/logo-capp-agile-learning.svg", alt: t("capp-agile.title"), title: t("capp-agile.title") %>
      </h2>
    <% end %>
    <div class="col right">
      <p><%= t("capp-agile.description", link: link_to(t("capp-agile.title"), "/capp-agile-learning.html")) %></p>
      <%= link_to t("actions.more_about.capp-agile"), "/capp-agile-learning.html", class: "button new-green outline" %>
    </div>
  </li>

  <li class="threesixty">
    <% link_to "/360-feedback.html", class: "col left" do %>
      <h2>
        <%= image_tag "logos/logo-360feedback.svg", alt: t("threesixty.name"), title: t("threesixty.name") %>
      </h2>
    <% end %>
    <div class="col right">
      <p><%= t("threesixty.desc", link: link_to(t("threesixty.name"), "/360-feedback.html")) %></p>
      <%= link_to t("actions.more_about.threesixty"), "/360-feedback.html", class: "button orange outline" %>
    </div>
  </li>

</ul>
