<ul class="solutions-list">

  <li class="capp">
    <% link_to "/capp-lms.html", class: "col left" do %>
      <h2>
        <%= t("capp.name") %>
      </h2>
    <% end %>
    <div class="col right">
      <p><%= t("capp.desc", link: link_to(t("capp.name"), "/capp-lms.html")) %></p>
      <%= link_to t("actions.more_about.capp"), "/capp-lms.html", class: "button blue outline" %>
    </div>
  </li>

  <li class="kwaliteitspaspoort">
    <% link_to "/capp-compliance.html", class: "col left" do %>
      <h2><%= image_tag "logos/logo-qualityportfolio-white-vertical.svg", alt: t("kwaliteitspaspoort.name"), title: t("kwaliteitspaspoort.name") %></h2>
    <% end %>
    <div class="col right">
      <p><%= t("kwaliteitspaspoort.desc", link: link_to(t("kwaliteitspaspoort.name"), "/capp-compliance.html")) %></p>
      <%= link_to t("actions.more_about.quality"), "/capp-compliance.html", class: "button turquoise outline" %>
    </div>
  </li>

  <li class="capp-agile-learning">
    <% link_to "/capp-agile-learning.html", class: "col left" do %>
      <h2>
        <%= image_tag "logos/logo-capp-agile-learning-white-vertical.svg", alt: t("capp-agile.name"), title: t("capp-agile.name") %>
      </h2>
    <% end %>
    <div class="col right">
      <p><%= t("capp-agile.desc", link: link_to(t("capp-agile.name"), "/capp-agile-learning.html")) %></p>
      <%= link_to t("actions.more_about.capp-agile"), "/capp-agile-learning.html", class: "button green outline" %>
    </div>
  </li>

  <li class="threesixty">
    <% link_to "/360-feedback.html", class: "col left" do %>
      <h2>
        <%= image_tag "logos/logo-360feedback.svg", alt: t("threesixty.name"), title: t("threesixty.name") %>
      </h2>
    <% end %>
    <div class="col right">
      <p><%= t("threesixty.desc", link: link_to(t("threesixty.name"), "/360-feedback.html")) %></p>
      <%= link_to t("actions.more_about.threesixty"), "/360-feedback.html", class: "button orange outline" %>
    </div>
  </li>

</ul>
