<ul class="solutions-list">

  <li class="capp-lms">
    <% link_to "/capp-lms.html", class: "col left" do %>
      <h2>
        <%= image_tag "logos/logo-capp-lms-white.svg", alt: t("capp.name"), title: t("capp.name") %>
      </h2>
    <% end %>
    <div class="col right">
      <p><%= t("capp.desc", link: link_to(t("capp.name"), "/capp-lms.html")) %></p>
      <%= link_to t("actions.more_about.capp"), "/capp-lms.html", class: "button pink outline" %>
    </div>
  </li>

  <li class="kwaliteitspaspoort">
    <% link_to "/kwaliteitspaspoort.html", class: "col left" do %>
      <h2>
        <%= image_tag "logos/logo-kwaliteitspaspoort-white-vertical.svg", alt: t("kwaliteitspaspoort.name"), title: t("kwaliteitspaspoort.name") %>
      </h2>
    <% end %>
    <div class="col right">
      <p><%= t("kwaliteitspaspoort.desc", link: link_to(t("kwaliteitspaspoort.name"), "/kwaliteitspaspoort.html")) %></p>
      <%= link_to t("actions.more_about.quality"), "/kwaliteitspaspoort.html", class: "button turquoise outline" %>
    </div>
  </li>

  <li class="kwaliteitsmonitor">
    <% link_to "/kwaliteitsmonitor.html", class: "col left" do %>
      <h2><%= image_tag "logos/logo-kwaliteitsmonitor-white-vertical.svg", alt: t("kwaliteitsmonitor.name"), title: t("kwaliteitsmonitor.name") %></h2>
    <% end %>
    <div class="col right">
      <p><%= t("kwaliteitsmonitor.desc", link: link_to(t("kwaliteitsmonitor.name"), "/kwaliteitsmonitor.html")) %></p>
      <%= link_to t("actions.more_about.kwaliteitsmonitor"), "/kwaliteitsmonitor.html", class: "button blue outline" %>
    </div>
  </li>

  <li class="capp-agile-learning-new">
    <% link_to "/capp-agile-learning.html", class: "col left" do %>
      <h2>
        <%= image_tag "logos/new/logo-capp-agile-learning.svg", alt: t("capp-agile.title"), title: t("capp-agile.title") %>
      </h2>
    <% end %>
    <div class="col right">
      <p><%= t("capp-agile.description", link: link_to(t("capp-agile.title"), "/capp-agile-learning.html")) %></p>
      <%= link_to t("actions.more_about.capp-agile"), "/capp-agile-learning.html", class: "button new-green outline" %>
    </div>
  </li>

  <li class="threesixty">
    <% link_to "/360-feedback.html", class: "col left" do %>
      <h2>
        <%= image_tag "logos/logo-360feedback.svg", alt: t("threesixty.name"), title: t("threesixty.name") %>
      </h2>
    <% end %>
    <div class="col right">
      <p><%= t("threesixty.desc", link: link_to(t("threesixty.name"), "/360-feedback.html")) %></p>
      <%= link_to t("actions.more_about.threesixty"), "/360-feedback.html", class: "button orange outline" %>
    </div>
  </li>

</ul>
