<div class="navigation-list">
  <h6>
    <%= link_to t("navigation.products.title"), "/producten.html" %>
  </h6>
  <ul>
    <li><%= link_to t("navigation.products.capp-lms.title"), "/capp-lms.html" %></li>
    <li><%= link_to t("navigation.products.capp-compliance.title"), "/kwaliteitspaspoort.html" %></li>
    <li><%= link_to t("navigation.products.capp-monitor.title"), "/kwaliteitsmonitor.html" %></li>
    <li><%= link_to t("navigation.products.capp-agile.title"), "/capp-agile-learning.html" %></li>
    <li><%= link_to t("navigation.products.threesixty.title"), "/360-feedback.html" %></li>
  </ul>
</div>

<div class="navigation-list">
  <h6>
    <%= link_to t("navigation.services.title"), "/diensten.html" %>
  </h6>
  <ul>
    <li><%= link_to t("navigation.services.elearning"), "/e-learning.html" %></li>
    <li><%= link_to t("navigation.services.implementations"), "/implementaties.html" %></li>
    <li><%= link_to t("navigation.services.hosting"), "/hosting-security.html" %></li>
    <li><%= link_to t("navigation.services.integrations"), "/koppelingen.html" %></li>
  </ul>
</div>

<div class="navigation-list">
  <h6>
    <%= t("navigation.defacto.title") %>
  </h6>
  <ul>
    <li><%= link_to t("navigation.clients.title"), "/klanten.html" %></li>
    <li><%= link_to t("navigation.defacto.about-us"), "/over-ons.html" %></li>
    <li><%= link_to t("navigation.defacto.support"), "/support.html" %></li>
    <li><%= link_to t("navigation.defacto.blog"), "/blog/index.html" %></li>
    <li><%= link_to t("navigation.defacto.themes"), "/themas.html" %></li>
    <li><%= link_to t("navigation.defacto.open-source"), "/open-source.html" %></li>
    <li><%= link_to t("navigation.defacto.jobs"), "/jobs/index.html" %></li>
    <li><%= link_to t("navigation.defacto.contact"), "/contact.html" %></li>
    <li><%= link_to t("navigation.buttons.search"), "/zoeken.html" %></li>
  </ul>
</div>
