<% wrap_layout :layout do %>

<article class="post">

  <header class="post-header" style="background-image: url(<%= image_path(current_article.data.header_image || "moods/defacto.jpg") %>)">
    <div class="row">

      <h1>
        <%= current_article.title %>
      </h1>

      <%= partial "blog/blog-article-meta", locals: { article: current_article } %>

      <%= partial "blog/blog-article-tags", locals: { article: current_article } %>
    </div>
  </header>

  <div class="row post-body">

    <div class="col">
      <%= yield %>
    </div>

    <%= partial "blog/blog-subscribe" unless current_article.data.hide_subscribe %>

  </div>

</article>

<%= partial "partials/social-share" %>

<section class="related-posts">
  <div class="row">
    <div class="col">

      <h3>
        <%= t("blog.more_articles") %>
      </h3>

      <ol class="post-list">
        <% (blog.articles - [current_article])[0...5].each do |article| %>
          <li>
            <%= partial "blog/blog-article-preview", locals: { article: article } %>
          </li>
        <% end %>
      </ol>

    </div>
  </div>
</section>

<% end %>
