<% wrap_layout :layout do %>

<article class="post">

  <header class="post-header" style="background-image: url(<%= image_path(current_article.data.mood_image || "moods/defacto.jpg") %>)">
    <div class="row">

      <h1>
        <%= image_tag image_path(current_article.data.logo_white), class: "case-logo", alt: current_article.title, title: current_article.title %>
      </h1>

      <h2>
        <%= current_article.data.sub_title %>
      </h2>

    </div>
  </header>

  <div class="row post-body">

    <div class="col sidebar-content">
      <%= yield %>
    </div>

    <%= partial "cases/case-sidebar" %>

  </div>

</article>

<%= partial "partials/social-share" %>
<%= partial "cases/page-controls" %>
<%= partial "partials/call-to-action", locals: {
  article: current_article,
  blog: "cases"
} %>

<% end %>
