<% wrap_layout :layout do %>

<article class="post">

  <header class="post-header" style="background-image: url(<%= image_path(current_article.data.mood_image || "moods/defacto-pand.jpg") %>)">
    <div class="row">

      <h1>
        <%= t("jobs.title") %> <%= current_article.title %>
      </h1>

    </div>
  </header>

  <div class="row post-body">

    <div class="col">
      <%= yield %>
    </div>

    <div class="col">
      <%= link_to t("jobs.apply"), "https://defacto.homerun.co/#{current_article.data.apply_link}/#{root_locale.to_s}/apply",
          class: "button apply",
          target: "_blank",
          rel: "noopener",
          "data-event" => "button_apply" %>
    </div>

    <div class="col">
      <p>
        <strong><em><%= t("jobs.acquisition") %></em></strong>
      </p>
    </div>

  </div>

</article>

<%= partial "partials/social-share" %>

<section class="related-posts">
  <div class="row">
    <div class="col">
      <h3>
        <%= t("jobs.more") %>
      </h3>
      <ol class="post-list">
        <% (blog.articles - [current_article]).each do |article| %>
          <li>
            <%= partial "jobs/job-preview", locals: { article: article } %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</section>

<% end %>
