<!doctype html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta charset="utf-8">
    <!--
     ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄
     █████ █████ █████
     █████ █████ █████     ██████▄▄             ▟███▘
     ▄▄▄▄▄ ▄▄▄▄▄ ▄▄▄▄▄     ███   ▀██           ▕██                    ██▌
     █████ █████ █████     ███    ██  ▄██▀██▙ ██████ ▗▟████▙  ▟████▙ █████ ▟█████▙
     ▀▀▀▀▀ ▀▀▀▀▀ ▀▀▀▀▀     ███    ██  ██▄▄▄██  ▕██     ▁▁▁██ ▕██      ██▌  ██▎ ▕██
     █████ █████ █████     ███    ██  ██▀▔▔▔   ▕██   ██▀▀▀██ ▕██      ██▌  ██▎ ▕██
     █████ █████ █████     ████████▀  ▀█████▛  ▕██   ▜███▛██  ▜████▛  ▜██▛ ▜█████▛
     ▔▔▔▔▔ ▔▔▔▔▔ ▔▔▔▔▔

     Hi there!
     The *real* source of this website can be viewed at https://github.com/DefactoSoftware/website
     Come hack with us? <%= t("urls.jobs") %>
    -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:page_title) ? yield_content(:page_title) : page_title(current_page) %></title>
    <meta name="description" content="<%= h(meta_description) %>">
    <meta name="robots" content="<%= robots %>">
    <%= canonical -%>

    <%= alternate_link_tags(current_page) -%>

    <%= partial "partials/open_graph" unless current_page.data.robots && current_page.data.robots.include?("noindex") -%>

    <%= feed_tag :atom, "#{blog("blog").options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "main" %>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= partial "partials/google_analytics" unless development? %>
  </head>

  <body class="<%= page_classes %>">

    <div class="page-wrap">

      <%= partial "partials/header" %>

      <div class="main" role="main">
        <%= yield %>
      </div>

    </div>

    <%= partial "partials/footer" %>
    <%= partial "partials/organization_schema" if root_url? %>
    <%= javascript_include_tag "jquery", "all" %>
    <%= javascript_include_tag "search" if current_page.locale_root_path =~ /zoeken.html/ %>
    <% if current_page.locale_root_path =~ /contact.html/ %>
      <%= partial "partials/intercom", locals: { intercom_id: "yb5mzq3j"} %>
    <% else %>
      <%= partial "partials/intercom", locals: { intercom_id: "tf7cx147"} %>
    <% end %>

  </body>
</html>
