<!doctype html>
<html lang="<%= I18n.locale.to_s %>">

  <%= partial "partials/head", locals: { yield_stylesheets: true,
                                         include_jquery: true }  %>
  <body class="<%= page_classes %>">

    <div class="main" role="main">
      <%= yield %>
    </div>

    <%= partial "footer/small-footer" %>
    <%= partial "partials/privacy-notification" unless root_locale == :en -%>
    <%= yield_content :javascript %>
    <%= partial "partials/intercom", locals: { intercom_id: intercom_id } %>

  </body>
</html>
