<%
if defined?(variant) && variant == "inline"
  form_class = "form-inline"
elsif defined?(variant) && variant == "contact"
  form_class = "form-contact"
else
  form_class = "form"
end

if defined?(title)
  form_title = title
else
  form_title = "Contact"
end
%>

<form class="<%= form_class %>" accept-charset="UTF-8" action="<%= action_url %>" enctype="multipart/form-data" method="POST">

  <input type="hidden" name="utf8" value="✓">
  <input type="hidden" name="form" value="<%= form_title %>">

  <% if locals[:events] %>
    <select name="event" id="select" required>
      <option value="" disabled selected><%= t("form.choose_event") %></option>
      <% events.each do |event| %>
        <option value="<%= event %>" class="selected"><%= event %></option>
      <% end %>
    </select>
  <% end %>

  <% if locals[:fields].include? "name" %>
    <input type="text" name="name" placeholder="<%= t("form.name") %> *" required>
  <% end %>

  <% if locals[:fields].include? "position" %>
    <input type="text" name="position" placeholder="<%= t("form.position") %> *" required>
  <% end %>

  <% if locals[:fields].include? "organisation" %>
    <input type="text" name="organisation" placeholder="<%= t("form.organisation") %> *" required>
  <% end %>

  <% if locals[:fields].include? "email" %>
    <input type="email" name="email" placeholder="<%= t("form.email") %> *" required>
  <% end %>

  <% if locals[:fields].include? "phone" %>
    <input type="tel" name="phone" placeholder="<%= t("form.phone") %>">
  <% end %>

  <% if locals[:fields].include? "message" %>
    <div class="form-text">
      <textarea rows="3" name="message" placeholder="<%= t("form.message_for_organisation") %>"></textarea>
    </div>
  <% end %>

  <% if locals[:multiple_persons] %>
    <div class="extra-person">
      <div class="extra-person-placeholder"></div>
      <a class="button orange outline" id="add-button"><%= t("form.add_coworker_button") %></a>
    </div>
  <% end %>

  <% if locals[:download_link] %>
    <input type="hidden" name="download" value="<%= full_url(download_link) %>">
  <% end %>

  <button type="submit" class="<%= locals[:button_class] %>">
    <% if locals[:button_text] %>
      <%= locals[:button_text] %>
    <% else %>
      <%= t("form.submit") %>
    <% end %>
    <% if locals[:form_type] == "download pdf" %>
      <span class="icon-pdf"></span>
    <% end %>
  </button>
</form>
