<div class="hero <%= variant %> <%= locals[:variant_overlay] %>" role="banner" style="background-image: url(<%= image_path("moods/" + locals[:background_image] || "moods/defacto.jpg") %>)">
  <div class="hero-inner">

    <% if locals[:logo] && locals[:logo_title] %>
      <div class="row">
        <%= image_tag locals[:logo], title: locals[:logo_title], alt: locals[:logo_title], class: "product-logo" %>
      </div>
    <% end %>

    <% if locals[:title] || locals[:sub_title] || (locals[:button_link] && locals[:button_text]) %>

      <div class="row">

        <% if locals[:title] %>
          <%= content_tag title_tag ||= :h1, class: "title" do title end %>
        <% end %>

        <% if locals[:sub_title] %>
          <%= content_tag :h2, class: "sub-title" do sub_title end %>
        <% end %>

        <% if locals[:buttons] %>
          <% locals[:buttons].each do |button| %>

            <%= partial "partials/button", locals: { link: button[:link],
                                                     text: button[:text],
                                                     variant: button[:variant],
                                                     target: button[:target],
                                                     scroll: button[:scroll]} %>
          <% end %>
        <% end %>

      </div>

    <% end %>

  </div>
</div>
