<% permalink_url = full_url(current_page.url) %>

<section class="social-share">

  <h6>
    <% if jobs_post? %>
      <%= t("sharing.share_job") %>
    <% elsif blog? %>
      <%= t("sharing.share_post") %>
    <% elsif case? %>
      <%= t("sharing.share_case") %>
    <% else %>
      <%= t("sharing.share_event") %>
    <% end %>
  </h6>

  <ul>

    <li>
      <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=<%= permalink_url %>&amp;title=<%= URI.encode(page_title(current_page)) %>"
         target="_blank"
         rel="nofollow noopener noreferrer"
         title="<%= t("sharing.linkedin") %>"
         class="icon-linkedin2"
         data-popup='{"width":550,"height":500}'>
        <span><%= t("sharing.linkedin") %></span>
      </a>
    </li>

    <li>
      <a href="https://twitter.com/intent/tweet?text=<%= URI.encode(page_title(current_page)) %>&amp;url=<%= permalink_url %>&amp;via=DefactoSoftware"
         target="_blank"
         rel="nofollow noopener noreferrer"
         title="<%= t("sharing.twitter") %>"
         class="icon-twitter2"
         data-popup='{"width":550,"height":235}'>
        <span><%= t("sharing.twitter") %></span>
      </a>
    </li>

    <li>
      <a href="https://www.facebook.com/sharer.php?u=<%= permalink_url %>"
         target="_blank"
         rel="nofollow noopener noreferrer"
         title="<%= t("sharing.facebook") %>"
         class="icon-facebook"
         data-popup='{"width":580,"height":296}'>
        <span><%= t("sharing.facebook") %></span>
      </a>
    </li>

    <li>
      <a href="https://plus.google.com/share?url=<%= permalink_url %>"
         target="_blank"
         rel="nofollow noopener noreferrer"
         title="<%= t("sharing.google_plus") %>"
         class="icon-google-plus"
         data-popup='{"width":490,"height":530}'>
        <span><%= t("sharing.google_plus") %></span>
      </a>
    </li>

    <li>
      <a href="https://www.xing.com/spi/shares/new?url=<%= permalink_url %>"
         target="_blank"
         rel="nofollow noopener noreferrer"
         title="<%= t("sharing.xing") %>"
         class="icon-xing"
         data-popup='{"width":550,"height":500}'>
        <span><%= t("sharing.xing") %></span>
      </a>
    </li>

  </ul>

</section>
