<div class="dropdown-root">

  <div class="dropdown-background"></div>

  <div class="dropdown-arrow"></div>

  <div class="dropdown-container">

    <% navigation_items.each do |item | %>
      <div class="dropdown-section left" data-dropdown="<%= item.dropdown %>">
        <div class="dropdown-content">
          <div class="<%= item.type %>">

              <% if item.type == "products-group" %>

                <ul>

                  <% item.links.each do |product| %>

                    <li>
                      <% nav_link_to(product.url, class: "link-container #{product[:item_class]}") do %>

                        <div class="product-icon">
                          <%= inline_svg product.icon, title: product.title %>
                        </div>
                        <div class="product-link-content">
                          <span class="link-title">
                            <%= product.title %>
                          </span>
                          <span class="link-sub">
                            <%= product.text %>
                          </span>
                        </div>
                      <% end %>
                    </li>

                  <% end %>

                </ul>

              <% elsif item.type == "links-group" %>

                <div class="link-group">

                  <% item.links.each do |link| %>
                    <% nav_link_to(link.url, class: "link-container with-icon") do %>
                      <span class="link-title link-icon">
                        <%= inline_svg link.icon, title: link.title %>
                        <%= link.title %>
                      </span>
                    <% end %>
                  <% end %>

                </div>

              <% end %>

          </div>
        </div>
      </div>
    <% end %>

    <div class="dropdown-section right" data-dropdown="languages">

      <div class="dropdown-content">

        <ul class="link-group link-list">
          <%= language_switcher_desktop %>
        </ul>

      </div>

    </div>

  </div>

</div>
