<ul>

  <li class="nav-section mobile">

    <a class="root-link item-mobile-menu">
      <span class="toggle">
        <%= t("navigation.buttons.menu") %>
      </span>
    </a>

    <div class="popup">

      <div class="popup-container">

        <a class="popup-close-button">
          <%= t("navigation.buttons.close") %>
        </a>

        <% if navigation_items %>

          <div class="mobile-nav-wrapper">

            <% navigation_items.each do |item | %>

              <div class="mobile-nav-group mobile-<%= item.type %>">

                <%= nav_link_to item.title, item.url, class: "mobile-nav-title" %>

                <% if item.type == "products-group" %>

                  <div class="mobile-products-list">

                    <ul>
                      <% item.links.each do |product| %>
                        <li>
                          <% nav_link_to(product.url, class: "link-container #{product[:class]}") do %>
                            <div class="product-icon">
                              <%= image_tag product.icon, alt: product.title %>
                            </div>
                            <div class="product-link-content">
                              <%= product.title %>
                            </div>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>

                  </div>

                <% elsif item.type == "links-group" %>

                  <div class="mobile-links-list">
                    <ul>
                      <% item.links.each do |link| %>
                      <li>
                        <%= nav_link_to link.title, link.url, class: "item-#{link[:class]}" %>
                      </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

              </div>
            <% end %>

          </div>

        <% end %>

        <div class="mobile-language-switcher">

          <a class="lang current">
            <%= t("current_locale") %>
          </a>

          <%= language_switcher_mobile %>

        </div>

      </div>

    </div>

  </li>

</ul>
