<% if navigation_items %>
  <li class="nav-section primary">
    <% navigation_items.each do | item | %>
      <%= nav_link_to item.title, item.url, class: "root-link has-dropdown item-#{item.dropdown}", "data-dropdown": item.dropdown %>
    <% end %>
  </li>
<% end %>

<li class="nav-section secondary">
  <% locale_link_to("/zoeken.html", class: "root-link item-search") do %>
    <%= inline_svg "icons/search.svg", title: t("navigation.buttons.search") %>
  <% end %>

  <a class="root-link current-lang item-language has-dropdown" data-dropdown="languages" title="<%= t("navigation.buttons.select-language") %>">
    <%= inline_svg "flags/#{root_locale}.svg" %> <%= root_locale.upcase %>
  </a>
</li>
