<div class="sidebar case-sidebar">

  <% if current_article.data.quote %>
    <div class="sidebar-section case-quote">

      <% if current_article.data.quote.text %>
        <p class="case-quote-text">
          "<%= current_article.data.quote.text %>"
        </p>
      <% end %>

      <% if current_article.data.quote.person %>
        <p class="case-quote-person">
          <%= current_article.data.quote.person %>
        </p>
      <% end %>

      <% if current_article.data.quote.position %>
        <p class="case-quote-position">
          <%= current_article.data.quote.position %>
        </p>
      <% end %>

    </div>
  <% end %>

  <% if current_article.data.services %>
    <div class="sidebar-section">
      <h3><%= t("cases.sidebar.products") %></h3>
      <ul class="services">
        <% current_article.data.services.each do |service| %>
          <li class="service">
            <% if service.link %>
              <% nav_link_to("#{service.link}.html") do %>
                <span class="icon-checkmark"></span>
                <%= service.title %>
              <% end %>
            <% else %>
              <span class="icon-checkmark"></span>
              <%= service.title %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_page.data.facts %>
    <div class="sidebar-section">
      <h3><%= t("cases.sidebar.facts.title") %></h3>
      <dl>
        <% if current_page.data.facts.branch %>
          <dt><%= t("cases.sidebar.facts.branch") %></dt>
          <dd><%= current_page.data.facts.branch %></dd>
        <% end %>

        <% if current_page.data.facts.since %>
          <dt><%= t("cases.sidebar.facts.since") %></dt>
          <dd><%= current_page.data.facts.since %></dd>
        <% end %>

        <% if current_page.data.facts.employees %>
          <dt><%= t("cases.sidebar.facts.employees") %></dt>
          <dd><%= current_page.data.facts.employees %></dd>
        <% end %>

        <% if current_page.data.facts.url %>
          <dt><%= t("cases.sidebar.facts.website") %></dt>
          <dd>
            <%= link_to current_page.data.facts.url, current_page.data.facts.url, target: "_blank", rel: "noopener", title: current_page.title %>
          </dd>
        <% end %>
      </dl>
    </div>
  <% end %>

</div>
