<div class="hero">
  <div class="row">

    <div class="col">

      <%= image_tag "logos/capp-new-version.svg", alt: "CAPP LMS", class: "logo" %>

      <h2>
        <%= t("capp-new.hero.title") %>
      </h2>

      <h3>
        <%= t("capp-new.hero.sub_title") %>
      </h3>

    </div>

    <div class="col card">

      <h4>
        <%= t("capp-new.heading-contact") %>
      </h4>

      <%= partial "partials/form", locals: { title: "Contact Request: CAPP LMS",
                                             fields: ["name", "email", "organisation", "phone"],
                                             button_text: t("form.submit"),
                                             button_class: "button pink",
                                             variant: "",
                                             action_url: t("urls.contact")} %>

    </div>

  </div>
</div>
