---
layout: "product_layout"
title:
  nl: "360° Feedback"
  de: "Individueller Entwicklungsplan für Mitarbeiter: 360° Feedback"
  en: "360° Feedback"
description:
  nl: Moeiteloos evaluaties uitvoeren in een gebruiksvriendelijke cloudservice. Kijk in de spiegel met 360° Feedback.
  de: Das Tool für eine effiziente Personalentwicklung. 360° Feedback schafft Transparenz zwischen dem Vorgesetzten und seinen Mitarbeitern.
  en: Carry out evaluations effortlessly in a user-friendly cloudservice. Look into the mirror with 360° Feedback.
---

<%= partial "partials/hero", locals: { variant: "variant-product",
                                       variant_overlay: "overlay-darken",
                                       background_image: "360-feedback.jpg",
                                       title: t("threesixty.hero.title"),
                                       sub_title: t("threesixty.hero.text_md"),
                                       button_link: "https://www.360feedback.io/app/register",
                                       button_text: t("actions.try_for_free"),
                                       button_variant: "button orange",
                                       button_target: "_blank"} %>


<%= partial "360-feedback/360feedback" %>

<section class="cta-bottom gray">
  <div class="row">

    <h3><%= t("threesixty.cta_bottom.heading_md") %></h3>
    <%= link_to t("actions.try_for_free"), "https://www.360feedback.io/app/register", target: "_blank", class: "button" %>

  </div>
</section>

<%= partial "clients/clients-section" %>
