<footer class="footer">
  <div class="row">

    <%= partial "footer/footer-nav" %>

    <div class="col contact">
      <h6><%= link_to t("header.contact"), "/contact.html" %></h6>
      <p>
        Zuiderpark 3<br>
        9724 AD Groningen<br>
        <%= t("footer.country") %>
      </p><p>
        T&nbsp;&nbsp;<a href="tel:<%= t("contact.phone_link") %>" class="phone"><%= t("contact.phone") %></a><br>
        E&nbsp;&nbsp;<a href="mailto:<%= t("contact.email") %>"><%= t("contact.email") %></a>
      </p>
      <%= partial "footer/social-links" %>
      <p>
        <a href="https://www.certipedia.com/quality_marks/9108633443?locale=en" target="_blank">
          <%= image_tag "tuv-certified.png", alt: "TUV Certified" %>
        </a>
      </p>
    </div>
  </div>

  <div class="copyright">
    <div class="row">
      <% if root_locale == :de %>
        <%= link_to "Datenschutz", "/datenschutz.html" %> |
      <% end %>
      <%= t("footer.copyright_html", { link: link_to(t("footer.open_source"), "https://github.com/DefactoSoftware/website/", target: "_blank"), year: Time.now.year }) %>
    </div>
  </div>
</footer>
