<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">

      <%= image_tag "logos/capp-agile.svg", alt: "CAPP Agile logo", class: "logo" %>

      <h1><%= t("capp-agile.heading") %></h1>

      <a class="button white-green" id="cta-button" href="#info-request" data-event="info_request_button"><%= t("capp-agile.action") %></a>

      <%= image_tag "screenshots/capp-agile-hero.png", class: "hero-img", title: "CAPP Agile Learning", alt: "CAPP Agile Learning" %>

      <h2>
        <%= t("capp-agile.hero_quote") %>
      </h2>

    </div>
  </div>
</div>
