---
title:
  nl: Bedankt
  de: Danke Schön
  en: Thanks
track_conversion: true
robots: noindex,nofollow
index: false
---

<section class="gray">
  <div class="row">
    <%= image_tag "smile.gif", class: "header-icon", alt: t("thanks.img_alt") %>
    <h1><%= t("thanks.heading") %></h1>
    <h3 class="thanks-message"><%= t("thanks.message") %></h3>
    <p>
      <strong><a href="javascript:history.back()"><%= t("thanks.back") %></a></strong>
    </p>
  </div>
</section>

<script>
// Get URL parameters
var urlParams = {};
window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
  urlParams[key] = decodeURIComponent(value);
});
document.addEventListener('DOMContentLoaded', function() {
  if (urlParams.download) {
    // Replace message with download message if it was a download form
    var downloadMessage = '<%= t("thanks.message_download") %>';
    var messageEl = document.querySelector('body.bedankt .thanks-message');

    messageEl.innerHTML = downloadMessage;
    messageEl.querySelector('a').href = urlParams.download;
  }
});
</script>

<%= partial "contact-info" %>
