---
title:
  nl: "CAPP Agile Learning"
  de: "Flexibles und innovatives E-Learning: CAPP Agile Learning"
  en: "CAPP Agile Learning"
description:
  nl: Performance support voor elke organisatie. Vraag nu een demo aan.
  de: E-Learning ist mehr als passives Abarbeiten von Online-Lerninhalten. Mit CAPP Agile Learning von Defacto wird es zum interaktiven Austausch von Wissen.
  en: Performance support for every organisation. Request a demo now.
header_style: white
nav_white: true
---

<%= partial "capp-agile-learning/hero" %>
<%= partial "capp-agile-learning/clients" %>
<%= partial "capp-agile-learning/content" %>
<%= partial "capp-agile-learning/why" %>

<section class="info-request gray" id="info-request">

  <div class="row">
    <h2>
      <%= t("capp-agile.form.heading") %>
    </h2>
  </div>

  <div class="row">

    <div class="col">
      <%= partial "partials/form", locals: { title: "Demo Request: CAPP Agile Learning",
                                             fields: ["name", "email", "organisation", "phone"],
                                             button_text: t("form.submit"),
                                             action_url: t("urls.capp_agile")} %>
    </div>

    <div class="col">
      <%= image_tag t("capp-agile.form.img"), title: t("capp-agile.form.img_alt"), alt: t("capp-agile.form.img_alt") %>
    </div>

  </div>
</section>

<%= partial "capp-agile-learning/testimonials" %>
