---
title:
  nl: "CAPP LMS: Learning & Talent Management"
  de: "CAPP Learning Management"
  en: "Training, learning and developing with CAPP LMS"
description:
  nl: "Faciliteert elke vorm van leren en houdt de medewerkers up-to-date en compliant."
  de: "Die Kursverwaltung für die Mitarbeiter-Fortbildung ist mit CAPP Learning Management ein Leichtes – und zwar für Online- wie auch für Präsenzseminare."
  en: "Ensure that your employees’ qualifications and certifications are demonstrable with the help of CAPP LMS."
---

<% if root_locale == :en %>
  <%= partial "capp-lms-old/capp-hero" %>
  <%= partial "capp-lms-old/capp-lms" %>
  <%= partial "clients/clients-section" %>
<% else %>
  <%= partial "capp-lms-new/hero" %>
  <%= partial "capp-lms-new/on-page-navigation" %>
  <%= partial "capp-lms-new/introduction" %>
  <%= partial "capp-lms-new/overview" %>

  <section class="cta-bottom gray">
    <div class="row">

      <h3>
        <%= t("capp-new.heading-contact") %>
      </h3>

      <%= partial "partials/form", locals: { title: "Contact Request: CAPP LMS",
                                             fields: ["name", "email", "organisation", "phone"],
                                             button_text: t("form.submit"),
                                             button_class: "button pink",
                                             variant: "inline",
                                             action_url: t("urls.contact")} %>
    </div>
  </section>
<% end %>

<% if root_locale == :de %>
  <%= partial "capp-lms-new/more" %>
<% end %>
