---
title:
  nl: "CAPP LMS: Learning & Talent Management"
description:
  nl: "Faciliteert elke vorm van leren en houdt de medewerkers up-to-date en compliant."
lang_ignore: de, en
---

<%= partial "capp-new-version/page-nav" %>
<%= partial "capp-new-version/introduction" %>
<%= partial "capp-new-version/overview" %>

<section class="cta-bottom gray" id="contact">
  <div class="row">
    <h3><%= t("capp_new.heading_contact") %></h3>

    <%= partial "capp-new-version/form", locals: { inline: true } %>
  </div>
</section>
