---
title: CAPP Agile Learning
description:
  nl: Performance support voor elke organisatie. Vraag nu een demo aan.
popup: false
unique_for_locale: true
---

<%= partial "capp-agile/capp-agile" %>

<%= partial "capp-agile/capp-agile-testimonials" %>

<section class="demo-request gray">
  <a name="demo"></a>

  <div class="row">

    <div class="col">

      <h2><%= t("capp-agile.form_heading") %></h2>

      <form class="form-contact" accept-charset="UTF-8" action="<%= t("urls.contact") %>" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="form" value="Contact - Demo Capp Agile">
        <input type="text" name="name" placeholder="<%= t("form.name") %>">
        <input type="email" name="email" placeholder="<%= t("form.email") %>" required>
        <button type="submit"><%= t("form.submit") %></button>
      </form>

    </div>

    <div class="col">
      <%= image_tag "screenshots/capp-agile-demo.png", title: t("capp-agile.demo_img"), alt: t("capp-agile.demo_img") %>
    </div>

  </div>

</section>

<%= partial "capp-agile/capp-agile-clients" %>
