---
title:
  de: "CAPP Entwickeln: E-Portfolio für die Personalentwicklung"
description:
  de: "Fördern Sie die Personalentwicklung mit unserer Software CAPP Entwickeln und einem E-Portfolio für jeden Mitarbeiter. Kompetenzen nutzen mit Defacto!"
lang_ignore: ["nl", "en"]
---

<div class="hero">
  <div class="hero-inner">
    <div class="row">
      <h1><%= t("capp-develop.hero.title") %></h1>
      <%= image_tag ("screenshots/hero-capp-entwickeln.png"), title: "CAPP Entwickeln", alt: "CAPP Entwickeln" %>
    </div>
  </div>
</div>

<%= partial "capp/capp-entwickeln" %>
<%= partial "call-to-actions/download-capp11-productsheet" %>
<%= partial "clients/clients-section" %>
