---
title:
  de: "CAPP Entwickeln: E-Portfolio für die Personalentwicklung"
description:
  de: "Fördern Sie die Personalentwicklung mit unserer Software CAPP Entwickeln und einem E-Portfolio für jeden Mitarbeiter. Kompetenzen nutzen mit Defacto!"
lang_ignore: ["nl", "en"]
---

<div class="hero">
  <div class="hero-inner">
    <div class="row">
      <h1><%= t("capp-develop.hero.title") %></h1>
      <%= image_tag ("screenshots/hero-capp-entwickeln.png"), title: "CAPP Entwickeln", alt: "CAPP Entwickeln" %>
    </div>
  </div>
</div>

<%= partial "capp/capp-entwickeln" %>

<section class="cta-bottom gray">
  <div class="row">
    <h2><%= t("capp.cta_bottom.heading_md") %></h2>
    <h3><%= t("capp.cta_bottom.subheading") %></h3>

    <form class="form-inline" accept-charset="UTF-8" action="<%= t("urls.productsheet") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="<%= t("capp.hero.formkeep_title") %>">
      <input type="text" name="name" placeholder="<%= t("form.name") %>">
      <input type="text" name="organisation" placeholder="<%= t("form.organisation") %>" required>
      <input class="required" type="email" name="email" placeholder="<%= t("form.email") %>" required>
      <input type="hidden" name="download" value="<%= full_url(data.downloads.capp_productsheet[I18n.locale]) %>">
      <button type="submit"><%= t("actions.download_productsheet") %>&nbsp;&nbsp;<span class="icon-pdf"></span></button>
    </form>

  </div>
</section>

<%= partial "clients/clients-section" %>
