---
title:
  nl: "CAPP Agile Learning"
  de: "Flexibles und innovatives E-Learning: CAPP Agile Learning"
  en: "CAPP Agile Learning"
description:
  nl: Performance support voor elke organisatie. Vraag nu een demo aan.
  de: E-Learning ist mehr als passives Abarbeiten von Online-Lerninhalten. Mit CAPP Agile Learning von Defacto wird es zum interaktiven Austausch von Wissen.
  en: Performance support for every organisation. Request a demo now.
popup: false
header_style: white
nav_white: true
---

<%= partial "capp-agile/capp-agile-clients" %>
<%= partial "capp-agile/content" %>
<%= partial "capp-agile/why" %>

<section class="info-request gray" id="info-request">

  <div class="row">

    <div class="col">

      <h2><%= t("capp-agile.form.heading") %></h2>

      <form class="form-contact" accept-charset="UTF-8" action="<%= t("urls.capp_agile") %>" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="form" value="Demo - CAPP Agile Learning">
        <input type="email" name="email" placeholder="<%= t("form.email") %>" required>
        <button type="submit"><%= t("form.submit") %></button>
      </form>

    </div>

    <div class="col">
      <%= image_tag t("capp-agile.form.img"), title: t("capp-agile.form.img_alt"), alt: t("capp-agile.form.img_alt") %>
    </div>

  </div>

</section>

<%= partial "capp-agile/capp-agile-testimonials" %>
