---
title:
  nl: "Compliance Management"
description:
  nl: "INSERT_DESCRIPTION_HERE"
lang_ignore: de, en
page_color: amaranth
---

<%= partial "partials/hero", locals: { variant: "variant-product",
                                       variant_overlay: "overlay-darken",
                                       background_image: "capp-12.jpg",
                                       title: t("solutions.pages.compliance-management.h1"),
                                       sub_title: t("solutions.pages.compliance-management.h2"),
                                       buttons: [{ link: "#contact",
                                                   scroll: true,
                                                   text: t("actions.contact_us"),
                                                   variant: "#{current_page.data.page_color}"
                                                }]} %>

<%= partial "partials/on-page-navigation", locals: { variant: "#{current_page.data.page_color}",
                                                       links: [{ anchor: "#introduction",
                                                                 key: t("solutions.pages.compliance-management.on-page-navigation.introduction")},
                                                               { anchor: "#stappenplan",
                                                                 key: t("solutions.pages.compliance-management.on-page-navigation.steps")},
                                                               { anchor: "#in-de-praktijk",
                                                                 key: t("solutions.pages.compliance-management.on-page-navigation.in-practice")},
                                                               { anchor: "#mogelijkheden",
                                                                 key: t("solutions.pages.compliance-management.on-page-navigation.possibilities")}
                                                              ]} %>

<section class="introduction" id="introduction">
  <div class="row">
    <article>
      <%= partial "compliance-management/introductie" %>
    </article>
  </div>
</section>

<section class="usp-quote colored-background">
  <div class="row">
    <article>
      <%= partial "compliance-management/usp-quote" %>
    </article>
  </div>
</section>

<section class="steps" id="stappenplan">
  <%= partial "compliance-management/steps" %>
</section>

<section class="in-practice colored-background" id="in-de-praktijk">
  <%= partial "compliance-management/in-practice" %>
</section>

<section class="overview" id="mogelijkheden">
  <%= partial "compliance-management/overview" %>
</section>

<section class="clients">
  <%= partial "compliance-management/clients" %>
</section>

<section class="cases-overview">
  <%= partial "compliance-management/cases" %>
</section>

<section class="cta-bottom colored-background" id="contact">
  <%= partial "compliance-management/contact" %>
</section>

<section class="products">
  <%= partial "compliance-management/products" %>
</section>
