---
title:
  nl: Contact met Defacto
  de: Kontakt mit Defacto
  en: Contact with Defacto
description:
  nl: Neem contact op met Defacto via het contactformulier of bel 050 – 3144 832.
  de: Kontakt Defacto über das Kontaktformular oder rufen Sie +49 (0)40 306988472.
  en: Get in touch with Defacto through the contact form or call +31 050 - 3144 832.
intercom: servicedesk
---
<div class="hero">
  <div class="hero-inner">
    <h1><%= t("contact.heading") %></h1>
    <h2><%= t("contact.heading2") %></h2>
  </div>
</div>

<%= partial "contact/contact" %>

<section id="contact-form" class="gray">
  <div class="row">

    <h2><%= t("contact.form_title") %></h2>

    <p><%= t("contact.form_info") %></p>

    <%= partial "partials/form", locals: { title: "Contact Request: Contact Page",
                                           fields: ["name", "email", "organisation", "phone", "message"],
                                           button_text: t("form.submit"),
                                           button_class: "button orange",
                                           variant: "contact",
                                           action_url: t("urls.contact")} %>

  </div>
</section>

<%= partial "partials/contact-info" %>
