---
title:
  nl: "Convenant Medische Technologie: in 3 stappen zorgeloos"
  de: "In 3 Schritten das Medizinproduktegesetz erfüllen"
description:
  nl: "Met CAPP Kwaliteitspaspoort en CAPP Agile Learning ontzorgen wij zorginstellingen. Hoe regelt jouw organisatie de kwaliteitsregistratie?"
  de: "Defacto unterstützt Ihr Krankenhaus bei den Anforderungen des MPG und der MPBetreibV und sichert so nachhaltig Ihre Qualität."
lang_ignore: en
---

<% permalink_url = full_url(current_page.url) %>

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t("cmt.title") %></h1>
    </div>
  </div>
</div>

<section>
  <div class="row">
    <article>

      <%= partial "themas/cmt" %>

    </article>
  </div>
</section>

<section class="cta-bottom gray" id="contact-form">
  <div class="row">

    <h2>
      <%= t("cmt.form.header") %>
    </h2>

    <p>
      <%= t("cmt.form.text") %>
    </p>

    <%= partial "partials/form", locals: { title: "Contact Request: Medische Technologie",
                                           fields: ["name", "email", "organisation", "phone"],
                                           button_text: t("form.submit"),
                                           button_class: "button orange",
                                           variant: "inline",
                                           action_url: t("urls.contact")} %>

  </div>
</section>
