---
title: "Convenant Medische Technologie: in 3 stappen zorgeloos"
description: Met CAPP Kwaliteitspaspoort en CAPP Agile Learning ontzorgen wij zorginstellingen. Hoe regelt jouw organisatie de kwaliteitsregistratie?
unique_for_locale: true
popup: false
---

<% permalink_url = full_url(current_page.url) %>

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>In 3 stappen geen zorgen meer rondom het Convenant Medische Technologie</h1>
    </div>
  </div>
</div>

<section>
  <div class="row">
    <article>

      <%= partial "themas/cmt" %>

    </article>
  </div>
</section>

<section id="contact-form" class="gray">
  <div class="row">
    <h2>Meer weten over het Convenant Medische Technologie?</h2>
    <p>
      Wil je meer weten over het Convenant Medische Technologie en de oplossingen die wij daarvoor bieden, neem dan contact met ons op.
    </p>
  </div>

  <div class="row">
    <form class="form-inline" accept-charset="UTF-8" action="<%= t("urls.contact") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="Contact over CMT">
      <input type="text" name="name" placeholder="<%= t("form.name") %>">
      <input type="email" name="email" placeholder="<%= t("form.email") %>" required>
      <button type="submit"><%= t("form.submit") %></button>
    </form>
  </div>
</section>
