---
title:
  de: Digitalisierung im Krankenhaus
description:
  de: "Die Digitalisierung im Krankenhaus bietet Ihnen und Ihrem Personal viele Entwicklungsmöglichkeiten. Defacto zeigt Ihnen einige davon auf."
lang_ignore: en, nl
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">

      <h1><%= t("digital-hospital.header") %></h1>

      <a class="button outline white" href="#contact-request" data-scroll-to-form><%= t("70-20-10.action") %></a>

    </div>
  </div>
</div>

<section>
  <div class="row">
    <article>
      <%= partial "themas/digital-hospital" %>
    </article>
  </div>
</section>

<section class="cta-bottom gray" id="contact-request">
  <div class="row">

    <h2>
      <%= t("digital-hospital.form.header") %>
    </h2>

    <%= simple_format t("digital-hospital.form.text") %>

    <%= partial "partials/form", locals: { title: "Contact Request: Digital Hospital",
                                           fields: ["name", "email", "organisation", "phone"],
                                           button_text: t("form.submit"),
                                           button_class: "button orange",
                                           variant: "inline",
                                           action_url: t("urls.contact")} %>

  </div>
</section>
