---
title:
  de: E-Learning Starterkit
  en: Make E-Learning content with the Starterkit
description:
  de: Erstellen Sie Ihre eigenen Module mit dem E-Learning Starterkit. Sparen Sie Geld und passen Sie Ihre Inhalte besser an.
  en: Create your own content with the E-Learning Starterkit. Get better suited content while saving money.
lang_ignore: nl
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t("elearning_starterkit.hero.title") %></h1>
      <%= markitdown t("elearning_starterkit.hero.text_md") %>

      <form class="form-inline" accept-charset="UTF-8" action="<%= t("urls.contact") %>" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="form" value="<%= t("elearning_starterkit.hero.formkeep_title") %>">
        <input type="text" name="name" placeholder="<%= t("form.name") %>">
        <input type="text" name="organisation" placeholder="<%= t("form.organisation") %>">
        <input type="email" name="email" placeholder="<%= t("form.email") %>" required>
        <button type="submit" class="green"><%= t("actions.tell_me_more") %></button>
      </form>

    </div>
  </div>
</div>

<section>
  <div class="row">
    <article>
      <%= partial "elearning/elearning-starterkit" %>
    </article>
  </div>
</section>

<%= partial "call-to-actions/download-ebook" %>
