---
title:
  de: "Gesundheitswesen"
description:
  de: "E-Learning und Personalentwicklung im Krankenhaus: mit Software von Defacto Qualität sichern"
lang_ignore: en, nl
---

<%= partial "gezondheidswezen/hero" %>
<%= partial "gezondheidswezen/on-page-navigation" %>

<section class="introduction" id="general">
  <div class="row">
    <article>
      <%= partial "gezondheidswezen/introductie" %>
    </article>
  </div>
</section>

<section class="content">
  <%= partial "gezondheidswezen/leerplatform" %>
</section>
<%= partial "gezondheidswezen/demo-request" %>
<%= partial "gezondheidswezen/clients" %>
<%= partial "gezondheidswezen/more" %>
