---
layout: product_layout
title:
  nl: Hosting en Security
  de: Hosting und Sicherheit
  en: Hosting and Security
description:
  nl: Defacto host CAPP LMS veilig en met betrouwbare security. Updates worden door Defacto geïnstalleerd en bijgewerkt.
  de: Defacto bietet die Möglichkeit, CAPP LMS mit zuverlässiger Sicherheit zu hosten. Updates werden von Defacto installiert und aktualisiert.
  en: Defacto hosts CAPP LMS safely with reliable security. Updates will be installed and reviewed by Defacto.
---

<% if root_locale == :nl %>
  <%= partial "partials/hero", locals: { variant: "variant-product",
                                         background_image: "defacto.jpg",
                                         title: t("hosting.heading")} %>
<% else %>
  <%= partial "hosting/hero" %>
<% end %>

<section>
  <div class="row">
    <article>
      <%= partial "hosting/hosting" %>
    </article>
  </div>
</section>

<% if root_locale == :nl %>
  <%= partial "hosting/download-whitepaper" %>
<% else %>
  <%= partial "clients/clients-section" %>
<% end %>
