---
title:
  nl: Developing People sinds 1987
  de: Optimale Personalentwicklung mit Defacto
  en: Developing People since 1987
description:
  nl: Defacto helpt organisaties bij het ontwikkelen en certificeren van hun medewerkers met CAPP LMS, CAPP Kwaliteitspaspoort en CAPP Agile Learning.
  de: Für die Personalentwicklung im Gesundheitswesen wird E-Learning immer wichtiger. Die Software von Defacto sichert Ihnen eine optimale Umsetzung.
  en: Defacto helps organisations with the development and certification of their employees with CAPP LMS, CAPP Quality Portfolio and CAPP Agile Learning.
canonical_url:
  nl: http://www.defacto.nl
  de: http://www.defactolearning.de
  en: http://en.defacto.nl
sitemap_changefreq: "weekly"
sitemap_priority: 1
blog: blog
header_style: invert
---

<%= partial "solutions-overview" %>
<% if root_locale == :de %>
  <%= partial "events" %>
  <%= partial "home-copy" %>
<% end %>

<section class="testimonials featured-testimonial">
  <div class="headline">
    <h2><%= t("testimonials.title") %></h2>
  </div>
  <div class="row">

    <%= partial "testimonials", locals: {
      count: 2,
      featured: true,
      summary: true
    } %>

    <%= nav_link_to t("testimonials.more_testimonials"), "/testimonials.html", class: "button blue outline" %>
  </div>
</section>

<%= partial "blog/featured" %>
<%= partial "clients/clients" %>
