---
title:
  nl: CAPP Kwaliteitspaspoort
  de: Talentmanagement dank Qualitätspass und Qualitätsmonitor
  en: CAPP Quality Portfolio
description:
  nl: In één oogopslag zicht op bevoegd- en bekwaamheid met het CAPP Kwaliteitspaspoort van Defacto.
  de: Der Qualitätspass und Qualitätsmonitor von Defacto ist die Basis für den individuellen Entwicklungsplan der Mitarbeiter und damit für gezieltes Talentmanagement.
  en: Get insight into the competencies and skills within your organisation at a glance with Defacto’s CAPP Quality  Portfolio.
---

<div class="hero">

  <div class="hero-inner">

    <%= image_tag t("kwaliteitspaspoort.logo"), alt: t("kwaliteitspaspoort.name"), class: "kpp-logo" %>

    <div class="hero-copy">

      <h1><%= t("kwaliteitspaspoort.hero.text_md") %></h1>

      <%= image_tag t("kwaliteitspaspoort.hero.image"), title: t("kwaliteitspaspoort.name"), alt: t("kwaliteitspaspoort.name") %>

    </div>
  </div>
</div>

<%= partial "kwaliteitspaspoort/kwaliteitspaspoort" %>

<% if root_locale == :de && data.downloads.kwaliteitsmonitor_productsheet[I18n.locale] %>
  <%= partial "call-to-actions/download-qualitymonitor-productsheet" %>
<% else %>
  <%= partial "call-to-actions/appointment-kwaliteitspaspoort" %>
<% end %>
<%= partial "clients/clients-section" %>
