---
title:
  nl: CAPP Kwaliteitsmonitor
description:
  nl: Automatiseer het vinken
lang_ignore: en, de
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">

      <%= image_tag t("kwaliteitsmonitor.logo"), title: t("kwaliteitsmonitor.name"), alt: t("kwaliteitsmonitor.name"), class: "km-logo" %>

      <h1><%= t("kwaliteitsmonitor.hero.text_md") %></h1>

      <%= image_tag t("kwaliteitsmonitor.hero.image"), title: t("kwaliteitsmonitor.name"), alt: t("kwaliteitsmonitor.name") %>

    </div>
  </div>
</div>

<section>
  <article>
    <div class="row">

      <%= partial "kwaliteitsmonitor/kwaliteitsmonitor" %>

    </div>
  </article>
</section>

<% if data.downloads.kwaliteitsmonitor_productsheet[I18n.locale] %>
  <%= partial "call-to-actions/download-qualitymonitor-productsheet" %>
<% end %>

<%= partial "clients/clients-section" %>
