---
title:
  nl: CAPP Kwaliteitspaspoort
  de: CAPP Compliance und Qualifikationsmanagement
  en: CAPP Quality Portfolio
description:
  nl: In één oogopslag zicht op bevoegd- en bekwaamheid met het CAPP Kwaliteitspaspoort van Defacto.
  de: Der Qualitätspass und Qualitätsmonitor von Defacto ist die Basis für den individuellen Entwicklungsplan der Mitarbeiter und damit für gezieltes Talentmanagement.
  en: Get insight into the competencies and skills within your organisation at a glance with Defacto’s CAPP Quality  Portfolio.
---

<% if root_locale == :de %>
  <%= partial "kwaliteitspaspoort-new/hero" %>
  <%= partial "kwaliteitspaspoort-new/on-page-navigation" %>
  <%= partial "kwaliteitspaspoort-new/introduction" %>
  <%= partial "kwaliteitspaspoort-new/overview" %>

  <section class="cta-bottom gray">
    <div class="row">

      <h3>
        <%= t("kwaliteitspaspoort.heading-contact") %>
      </h3>

      <%= partial "partials/form", locals: { title: "Contact Request: CAPP Compliance und Qualifikationsmanagement",
                                             fields: ["name", "email", "organisation", "phone"],
                                             button_text: t("form.submit"),
                                             button_class: "button pink",
                                             variant: "inline",
                                             action_url: t("urls.contact")} %>
    </div>
  </section>

  <%= partial "kwaliteitspaspoort-new/more" %>
<% else %>
  <%= partial "kwaliteitspaspoort-old/hero" %>
  <%= partial "kwaliteitspaspoort-old/kwaliteitspaspoort" %>
  <%= partial "call-to-actions/appointment-kwaliteitspaspoort" %>
  <%= partial "clients/clients-section" %>
<% end %>
