---
title: Open Source - Developing Software
description: We rely on open source software and like to give back to the community.
---


<div class="hero">

  <div class="hero-inner">

    <h1>
      Developing Software
    </h1>

    <article>

      <p>
        Defacto maintains and contributes to open source software and libraries. We rely on open source software and like to give back to the community. Among other initiatives, we are proud sponsor of <a href="https://elixirforum.com/" target="_blank" rel="noopener" title="Elixir Forum">Elixir forum</a>.
      </p>

      <p>
        Like what you see?

        <% if root_locale == :en %>
          <a href="https://www.defacto.nl/jobs/">
        <% else %>
          <a href="/jobs/">
        <% end %>
          Work with us!
        </a>
      </p>

    </article>

  </div>

</div>

<section class="work">

  <div class="row">

    <h2>
      A selection of our open source projects:
    </h2>

    <div class="work-items">

      <div class="work-item test_selector">

        <a class="work-link" href="https://github.com/DefactoSoftware/test_selector" target="_blank" rel="noopener">
          <%= image_tag "open-source/elixir.png", alt: "test_selector", title: "test_selector" %>
        </a>

        <div class="work-desc">

          <h3 class="work-header">
            <a href="https://github.com/DefactoSoftware/test_selector" target="_blank" title="Learn more about test_selector" rel="noopener">
              test_selector
            </a>
          </h3>

          <p>
            Library with Elixir and Hound helpers to set/get test selectors to/from elements in a Phoenix app.
          </p>

          <p class="work-meta">
            <span class="work-language-color elixir"></span>
            <span class="work-language">Elixir</span>
          </p>

          <a class="button dark small" href="https://github.com/DefactoSoftware/test_selector" target="_blank" title="Learn more about test_selector" rel="noopener">Visit</a>
        </div>

      </div>

      <div class="work-item cell-js">

        <a class="work-link" href="https://github.com/DefactoSoftware/cell-js" target="_blank" title="Image cell-js" rel="noopener">
          <%= image_tag "open-source/celljs.png", alt: "cell-js", title: "cell-js" %>
        </a>

        <div class="work-desc">

          <h3 class="work-header">
            <a href="https://github.com/DefactoSoftware/cell-js" target="_blank" title="Learn more about cell-js" rel="noopener">
              cell-js
            </a>
          </h3>

          <p>
            Simple and lightweight solution for binding JavaScript to specific templates or side server components.
          </p>

          <p class="work-meta">
            <span class="work-language-color javascript"></span>
            <span class="work-language">JavaScript</span>
          </p>

          <a class="button dark small" href="https://github.com/DefactoSoftware/cell-js" target="_blank" title="Learn more about cell-js" rel="noopener">Visit</a>
        </div>

      </div>

      <div class="work-item ex_cell">

        <a class="work-link" href="https://github.com/DefactoSoftware/ex_cell" target="_blank" title="Image ex_cell" rel="noopener">
          <%= image_tag "open-source/phoenix.png", alt: "ex_cell", title: "ex_cell" %>
        </a>

        <div class="work-desc">

          <h3 class="work-header">
            <a href="https://github.com/DefactoSoftware/ex_cell" target="_blank" title="Learn more about ex_cell" rel="noopener">
              ex_cell
            </a>
          </h3>

          <p>
            A module for creating coupled modules of CSS, Javascript and Views in Phoenix.
          </p>

          <p class="work-meta">
            <span class="work-language-color phoenix"></span>
            <span class="work-language">Phoenix</span>
            <span class="work-language-color elixir"></span>
            <span class="work-language">Elixir</span>
          </p>

          <a class="button dark small" href="https://github.com/DefactoSoftware/ex_cell" target="_blank" title="Learn more about ex_cell" rel="noopener">Visit</a>
        </div>

      </div>

      <div class="work-item ex_css_modules">

        <a class="work-link" href="https://github.com/DefactoSoftware/ex_css_modules" target="_blank" rel="noopener">
          <%= image_tag "open-source/elixir.png", alt: "ex_css_modules", title: "ex_css_modules" %>
        </a>

        <div class="work-desc">

          <h3 class="work-header">
            <a href="https://github.com/DefactoSoftware/ex_css_modules" target="_blank" title="Learn more about ex_css_modules" rel="noopener">
              ex_css_modules
            </a>
          </h3>

          <p>
            CSS Modules for Elixir. Build to integrate well with the Phoenix Framework.
          </p>

          <p class="work-meta">
            <span class="work-language-color elixir"></span>
            <span class="work-language">Elixir</span>
            <span class="work-language-color phoenix"></span>
            <span class="work-language">Phoenix</span>
          </p>

          <a class="button dark small" href="https://github.com/DefactoSoftware/ex_css_modules" target="_blank" title="Learn more about ex_css_modules" rel="noopener">Visit</a>
        </div>

      </div>

      <div class="work-item hours">

        <a class="work-link" href="https://github.com/DefactoSoftware/Hours" target="_blank" title="Image Hours" rel="noopener">
          <%= image_tag "open-source/hours.png", alt: "Hours", title: "Hours" %>
        </a>

        <div class="work-desc">

          <h3 class="work-header">
            <a href="https://github.com/DefactoSoftware/Hours" target="_blank" title="Hours - time registration that doesn't suck" rel="noopener">
              Hours
            </a>
          </h3>

          <p>
            Hours is a simple time tracking application that we use for internal time-tracking.
          </p>

          <p class="work-meta">
            <span class="work-language-color ruby"></span>
            <span class="work-language">Ruby</span>
          </p>

          <a class="button dark small" href="https://github.com/DefactoSoftware/Hours" target="_blank" title="Learn more about Hours" rel="noopener">Visit</a>
        </div>

      </div>

      <div class="work-item lti">

        <a class="work-link" href="https://github.com/DefactoSoftware/lti" target="_blank" title="Image LTI" rel="noopener">
          <%= image_tag "open-source/elixir.png", alt: "LTI", title: "LTI" %>
        </a>

        <div class="work-desc">

          <h3 class="work-header">
            <a href="https://github.com/DefactoSoftware/lti" target="_blank" title="Learn more about LTI" rel="noopener">
              LTI for elixir
            </a>
          </h3>

          <p>
            Working concept of an LTI launch from Elixir.
          </p>

          <p class="work-meta">
            <span class="work-language-color elixir"></span>
            <span class="work-language">Elixir</span>
          </p>

          <a class="button dark small" href="https://github.com/DefactoSoftware/lti" target="_blank" title="Learn more about LTI launch" rel="noopener">Visit</a>
        </div>

      </div>

      <div class="work-item pickupgamebot">

        <a class="work-link" href="https://github.com/DefactoSoftware/PickupGameBot" target="_blank" title="Image PickupGamebot" rel="noopener">
          <%= image_tag "open-source/pickupgamebot.png", alt: "PickupGamebot", title: "PickupGamebot" %>
        </a>

        <div class="work-desc">

          <h3 class="work-header">
            <a href="https://github.com/DefactoSoftware/PickupGameBot" target="_blank" title="Learn more about PickupGamebot" rel="noopener">
              PickupGameBot
            </a>
          </h3>

          <p>
            To help us set up pickup futsal games and maybe more.
          </p>

          <p class="work-meta">
            <span class="work-language-color ruby"></span>
            <span class="work-language">Ruby</span>
          </p>

          <a class="button dark small" href="https://github.com/DefactoSoftware/PickupGameBot" target="_blank" title="Learn more about our Websites" rel="noopener">Visit</a>
        </div>

      </div>

      <div class="work-item website">

        <a class="work-link" href="https://github.com/DefactoSoftware/website" target="_blank" title="Image Websites" rel="noopener">
          <%= image_tag "open-source/middleman.png", alt: "Defacto Websites", title: "Defacto Websites" %>
        </a>

        <div class="work-desc">

          <h3 class="work-header">
            <a href="https://github.com/DefactoSoftware/website" target="_blank" title="Learn more about our Websites" rel="noopener">
              Defacto Websites
            </a>
          </h3>

          <p>
            Our websites are built with Middleman, a static website generator.
          </p>

          <p class="work-meta">
            <span class="work-language-color html"></span>
            <span class="work-language">HTML</span>
          </p>

          <a class="button dark small" href="https://github.com/DefactoSoftware/website" target="_blank" title="Learn more about our Websites" rel="noopener">Visit</a>
        </div>

      </div>

    </div>

  </div>

</section>

<section class="visit-us gray">

  <div class="row">

    <p>
      For more open source projects <a href="https://github.com/DefactoSoftware/" target="_blank" rel="noopener" title="Vist us on GitHub">visit us on GitHub <span class="icon-github"></span></a>
    </p>

  </div>

</section>
