---
title:
  nl: Service & Support
  de: Service & Support
description:
  nl: De servicedesk van Defacto. Hier kunt u terecht voor al uw issues, technische vragen en onderhoudswerkzaamheden.
  de: Service und Support von Defacto. Wir helfen Ihnen gerne weiter bei Problemen, technischen Fragen und Updates.
intercom: servicedesk
lang_ignore: en
---

<div class="hero">

  <div class="hero-inner">

    <h1>
      <%= t("service.title") %>
    </h1>

    <p>
      <%= t("service.title_text") %>
    </p>

  </div>

</div>

<section>

  <div class="row">

    <article>

      <%= partial "support/support" %>

    </article>

  </div>

</section>

<section class="support-team">

  <div class="row">

    <h2>
      <%= t("service.team_title") %>
    </h2>

    <div class="support-team-wrapper">

      <div class="support-team-item">
        <%= image_tag "team/lizette-weening.jpg", class: "avatar", alt: "Lizette Weening", title: "Lizette Weening" %>
        <h5>
          <span>Lizette</span>
          <span>Weening</span>
        </h5>
      </div>

      <div class="support-team-item">
        <%= image_tag "team/jeroen-dijkhuis.jpg", class: "avatar", alt: "Jeroen Dijkhuis", title: "Jeroen Dijkhuis" %>
        <h5>
          <span>Jeroen</span>
          <span>Dijkhuis</span>
        </h5>
      </div>

      <div class="support-team-item">
        <%= image_tag "team/vincent-van-trigt.jpg", class: "avatar", alt: "Vincent van Trigt", title: "Vincent van Trigt" %>
        <h5>
          <span>Vincent</span>
          <span>van Trigt</span>
        </h5>
      </div>

      <div class="support-team-item">
        <%= image_tag "team/jan-lulof.jpg", class: "avatar", alt: "Jan Lulof", title: "Jan Lulof" %>
        <h5>
          <span>Jan</span>
          <span>Lulof</span>
        </h5>
      </div>

      <div class="support-team-item">
        <%= image_tag "team/christa-vlaanderen.jpg", class: "avatar", alt: "Christa Vlaanderen", title: "Christa Vlaanderen" %>
        <h5>
          <span>Christa</span>
          <span>Vlaanderen</span>
        </h5>
      </div>

    </div>

  </div>

</section>
