<section class="gray clients">
  <div class="logos">

    <a href="https://www.radboudumc.nl/patientenzorg" target="_blank" rel="noopener">
      <%= image_tag "clients/radboudumc.png", alt: "Radboud Universitair Medisch Centrum", title: "Radboud Universitair Medisch Centrum" %>
    </a>

    <a href="https://www.asz.nl/" target="_blank" rel="noopener">
      <%= image_tag "clients/albertschweitzerziekenhuis.png", alt: "Albert Schweitzer Ziekenhuis", title: "Albert Schweitzer Ziekenhuis" %>
    </a>

    <a href="https://www.kwintes.nl/" target="_blank" rel="noopener">
      <%= image_tag "clients/kwintes.png", alt: "Kwintes", title: "Kwintes" %>
    </a>

    <a href="https://www.nhl.nl/" target="_blank" rel="noopener">
      <%= image_tag "clients/nhl.png", alt: "NHL Hogeschool", title: "NHL Hogeschool" %>
    </a>

    <a href="https://www.heliomare.nl/" target="_blank" rel="noopener">
      <%= image_tag "clients/heliomare.png", alt: "Heliomare", title: "Heliomare" %>
    </a>

    <a href="https://www.zrt.nl/" target="_blank" rel="noopener">
      <%= image_tag "clients/rivierenland.png", alt: "Ziekenhuis Rivierenland", title: "Ziekenhuis Rivierenland" %>
    </a>

    <a href="https://www.doppio-espresso.nl/" target="_blank" rel="noopener">
      <%= image_tag "clients/doppio.png", alt: "Doppio Espresso", title: "Doppio Espresso" %>
    </a>

    <a href="https://www.umcg.nl" target="_blank" rel="noopener">
      <%= image_tag "clients/umcg.png", alt: "Universitair Medisch Centrum Groningen", title: "Universitair Medisch Centrum Groningen" %>
    </a>

    <a href="https://www.dpa.nl/bankinginsurance/business-units/dpa-benkis/" target="_blank" rel="noopener">
      <%= image_tag "clients/dpa-benkis.png", alt: "DPA Benkis", title: "DPA Benkis" %>
    </a>

  </div>
</section>
