<section class="gray clients">

  <h2><%= t("capp-agile.clients_heading") %></h2>

  <div class="logos">
    <%= image_tag "clients/nhl.png", alt: "NHL Hogeschool" %>
    <%= image_tag "clients/doppio.png", alt: "Doppio Espresso" %>
    <%= image_tag "clients/umcg.png", alt: "Universitair Medisch Centrum Groningen" %>
    <%= image_tag "clients/dpa-benkis.png", alt: "DPA Benkis" %>
  </div>

</section>
