<section class="features">

  <div class="row">

    <div class="col col-text">
      <h3><%= t("capp-agile.features.make_share.heading") %></h3>
      <%= markitdown t("capp-agile.features.make_share.copy") %>
    </div>

    <div class="col col-img">
      <%= image_tag t("capp-agile.features.make_share.img"), title: t("capp-agile.features.make_share.img_alt"), alt: t("capp-agile.features.make_share.img_alt"), class: "screenshot" %>
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
      <%= image_tag t("capp-agile.features.up_to_date.img"), title: t("capp-agile.features.up_to_date.img_alt"), alt: t("capp-agile.features.up_to_date.img_alt"), class: "screenshot" %>
    </div>

    <div class="col col-text">
      <h3><%= t("capp-agile.features.up_to_date.heading") %></h3>
      <%= markitdown t("capp-agile.features.up_to_date.copy") %>
    </div>

  </div>

  <div class="row">

    <div class="col col-text">
      <h3><%= t("capp-agile.features.on_demand.heading") %></h3>
      <%= markitdown t("capp-agile.features.on_demand.copy") %>
    </div>

    <div class="col col-img">
      <a href="<%= t("capp-agile.features.on_demand.link") %>" target="_blank" rel="noopener">
        <%= image_tag t("capp-agile.features.on_demand.img"), title: t("capp-agile.features.on_demand.img_alt"), alt: t("capp-agile.features.on_demand.img_alt") %>
      </a>
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
      <%= image_tag t("capp-agile.features.demand_driven.img"), title: t("capp-agile.features.demand_driven.img_alt"), alt: t("capp-agile.features.demand_driven.img_alt"), class: "screenshot" %>
    </div>

    <div class="col col-text">
      <h3><%= t("capp-agile.features.demand_driven.heading") %></h3>
      <%= markitdown t("capp-agile.features.demand_driven.copy") %>
    </div>

  </div>

</section>

<section class="why">

  <h2><%= t("capp-agile.why.heading") %></h2>

  <div class="row">

    <div class="reason">
      <div class="number">
        <span>1</span>
      </div>
      <h3><%= t("capp-agile.why.make_share.heading") %></h3>
      <%= markitdown t("capp-agile.why.make_share.copy") %>
    </div>

    <div class="reason">
      <div class="number">
        <span>2</span>
      </div>
      <h3><%= t("capp-agile.why.on_demand.heading") %></h3>
      <%= markitdown t("capp-agile.why.on_demand.copy") %>
    </div>

    <div class="reason">
      <div class="number">
        <span>3</span>
      </div>
      <h3><%= t("capp-agile.why.performance.heading") %></h3>
      <%= markitdown t("capp-agile.why.performance.copy") %>
    </div>

  </div>

</section>
