<section class="clients" id="clients">

  <h3>
    <%= t("capp-learning.clients.title") %>
  </h3>

  <div class="logos">

    <div class="client">
<<<<<<< HEAD
      <%= image_tag "clients/colour/logo-leviaan.svg", alt: "Leviaan", title: "Leviaan" %>
    </div>
    <div class="client">
      <%= image_tag "clients/colour/ambulancezorg-groningen.png", alt: "Ambulancezorg Groningen", title: "Ambulancezorg Groningen" %>
    </div>
    <div class="client">
      <%= image_tag "clients/colour/logo-dejongenlaan.svg", alt: "De Jong & Laan", title: "De Jong & Laan" %>
=======
      <%= image_tag "clients/colour/logo-umcg.png", alt: "UMCG", title: "UMCG" %>
    </div>
    <div class="client">
      <%= image_tag "clients/colour/logo-lumc.svg", alt: "LUMC", title: "LUMC" %>
    </div>
    <div class="client">
      <%= image_tag "clients/colour/logo-mumc.png", alt: "MUMC+", title: "MUMC+" %>
>>>>>>> 52f310a296cc3bc7b3489286c525e1522f84bf70
    </div>
    <div class="client">
      <%= image_tag "clients/colour/logo-spaarne.png", alt: "Spaarne Gasthuis", title: "Spaarne Gasthuis" %>
    </div>
    <div class="client">
<<<<<<< HEAD
      <%= image_tag "clients/colour/logo-timing.svg", alt: "Timing", title: "Timing" %>
    </div>
    <div class="client">
      <%= image_tag "clients/colour/logo-zinn.svg", alt: "ZINN ouderenzorg", title: "ZINN ouderenzorg" %>
    </div>
    <div class="client">
      <%= image_tag "clients/colour/logo-buko.png", alt: "BUKO Infrastructuur", title: "BUKO Infrastructuur" %>
=======
      <%= image_tag "clients/colour/logo-zinn.svg", alt: "ZINN ouderenzorg", title: "ZINN ouderenzorg" %>
    </div>
    <div class="client">
      <%= image_tag "clients/colour/logo-sheerenloo.svg", alt: "'s Heeren Loo", title: "'s Heeren Loo" %>
    </div>
    <div class="client">
      <%= image_tag "clients/colour/logo-strukton.png", alt: "Strukton", title: "Strukton" %>
    </div>
    <div class="client">
      <%= image_tag "clients/colour/logo-delelie.svg", alt: "De Lelie Zorggroep", title: "De Lelie Zorggroep" %>
>>>>>>> 52f310a296cc3bc7b3489286c525e1522f84bf70
    </div>

  </div>

</section>
