<section class="product-overview amaranth" id="features">

  <h2>
<<<<<<< HEAD
    De belangrijkste functionaliteiten op een rij
=======
    Kop
>>>>>>> 52f310a296cc3bc7b3489286c525e1522f84bf70
  </h2>

  <div class="row">

    <div class="col col-text">
      <h2>
        Persoonlijke leerervaring
      </h2>

      <p>
        Medewerkers krijgen een persoonlijk leeraanbod op basis van functie, rol en/of afdeling, en hebben op elk moment inzicht in hun voortgang op leeractiviteiten.
      </p>
    </div>

    <div class="col col-img">
<<<<<<< HEAD
      <%= image_tag "illustrations/capp-learning/capp-learning-persoonlijk.svg", title: "CAPP Learning - Persoonlijke leerervaring", alt: "CAPP Learning - Persoonlijke leerervaring" %>
=======
      <%= image_tag "screenshots/capp-compliance/capp-compliance-realtime-historisch-inzicht.png", title: "CAPP Compliance Realtime & historische inzicht", alt: "CAPP Compliance Realtime & historisch inzicht" %>
>>>>>>> 52f310a296cc3bc7b3489286c525e1522f84bf70
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
<<<<<<< HEAD
      <%= image_tag "illustrations/capp-learning/capp-learning-quiz-authoring.png", title: "CAPP Learning - Authoring & Quizzes", alt: "CAPP Learning - Authoring & quizzes" %>
=======
      <%= image_tag "screenshots/capp-compliance/capp-compliance-kwaliteitspaspoort-new.png", title: "CAPP Compliance Kwaliteitspaspoort", alt: "CAPP Compliance Kwaliteitspaspoort" %>
>>>>>>> 52f310a296cc3bc7b3489286c525e1522f84bf70
    </div>

    <div class="col col-text">

      <h2>
<<<<<<< HEAD
        Authoring & Quizzes
      </h2>

      <p>
        Laat experts gemakkelijk cursusmateriaal en toetsen ontwikkelen, en up-to-date houden met de geïntegreerde auteurstool — zonder bijkomende kosten. Eenmalig aanmaken en in meerdere cursussen gebruiken.
=======
        Veelzijdige bibliotheek
      </h2>

      <p>
        Gemakkelijk en snel toegang tot losse artikelen, video's en e-learning voor elke leervraag. De slimme zoekfunctie maakt werkplekondersteuning mogelijk.
>>>>>>> 52f310a296cc3bc7b3489286c525e1522f84bf70
      </p>

    </div>

  </div>

  <div class="row">

    <div class="col col-text">

      <h2>
<<<<<<< HEAD
        Veelzijdige bibliotheek
      </h2>

      <p>
        Gemakkelijk en snel toegang tot losse artikelen, video's en e-learning voor elke leervraag. De slimme zoekfunctie maakt werkplekondersteuning mogelijk.
=======
        Flexibele leerpaden
      </h2>

      <p>
        Combineer losse leerelementen (deelonderwerpen) in flexibele leerpaden en bied leerinhoud aan passend bij verschillende leerbehoeften en context.
>>>>>>> 52f310a296cc3bc7b3489286c525e1522f84bf70
      </p>

    </div>

    <div class="col col-img">
<<<<<<< HEAD
      <%= image_tag "illustrations/capp-learning/capp-learning-bibliotheek.svg", title: "CAPP Learning - Veelzijdige bibliotheek", alt: "CAPP Learning - Veelzijdige bibliotheek" %>
=======
      <%= image_tag "screenshots/capp-compliance/capp-compliance-clausules.svg", title: "CAPP Compliance relevante leerinterventies met clausules", alt: "CAPP Compliance relevante leerinterventies met clausules" %>
>>>>>>> 52f310a296cc3bc7b3489286c525e1522f84bf70
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
<<<<<<< HEAD
      <%= image_tag "illustrations/capp-learning/capp-learning-leerpaden.svg", title: "CAPP Learning - Flexibele leerpaden", alt: "CAPP Learning - Flexibele leerpaden" %>
=======
      <%= image_tag "screenshots/capp-compliance/capp-compliance-centraal-decentraal-beheer.svg", title: "CAPP Compliance centraal & decentraal beheer", alt: "CAPP Compliance centraal & decentraal beheer" %>
>>>>>>> 52f310a296cc3bc7b3489286c525e1522f84bf70
    </div>

    <div class="col col-text">

      <h2>
<<<<<<< HEAD
        Flexibele leerpaden
      </h2>

      <p>
        Combineer losse leerelementen (deelonderwerpen) in flexibele leerpaden en bied leerinhoud aan passend bij verschillende leerbehoeften en context.
=======
        Skills & Assessments
      </h2>

      <p>
        Ondersteunen van zelfbeoordeling, peer review en geverifieerde beoordelingen - met handige checklistfunctie.
>>>>>>> 52f310a296cc3bc7b3489286c525e1522f84bf70
      </p>

    </div>

  </div>

  <div class="row">

    <div class="col col-text">

      <h2>
        Events
      </h2>

      <p>
        Gemakkelijk events plannen en beheren, met geïntegreerd taakbeheer, presentieregistratie en koppeling met eigen agenda. Neem events op in cursussen of bied ze los aan.
      </p>

<<<<<<< HEAD
    </div>

    <div class="col col-img">
      <%= image_tag "illustrations/capp-learning/capp-learning-events.png", title: "CAPP Learning - Events", alt: "CAPP Learning - Events" %>
=======
>>>>>>> 52f310a296cc3bc7b3489286c525e1522f84bf70
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
<<<<<<< HEAD
      <%= image_tag "illustrations/capp-learning/capp-learning-skills-assessments.svg", title: "CAPP Learning - Skills & Assessments", alt: "CAPP Learning - Skills & Assessments" %>
    </div>

    <div class="col col-text">

      <h2>
        Skills & Assessments
      </h2>

      <p>
        Ondersteunen van zelfbeoordeling, peer review en geverifieerde beoordelingen - met handige checklistfunctie.
=======
      <%= image_tag "screenshots/capp-compliance/capp-compliance-api.svg", title: "CAPP Compliance API", alt: "CAPP Compliance API" %>
    </div>

  </div>

  <div class="row">

    <div class="col col-text">

      <h2>
        Authoring & Quizzes
      </h2>

      <p>
        Laat experts gemakkelijk cursusmateriaal en toetsen ontwikkelen, en up-to-date houden met de geïntegreerde auteurstool — zonder bijkomende kosten. Eenmalig aanmaken en in meerdere cursussen gebruiken.
>>>>>>> 52f310a296cc3bc7b3489286c525e1522f84bf70
      </p>

    </div>

  </div>

</section>
