<section class="product-overview amaranth" id="features">

  <h2>
    Kop
  </h2>

  <div class="row">

    <div class="col col-text">
      <h2>
        Persoonlijke leerervaring
      </h2>

      <p>
        Medewerkers krijgen een persoonlijk leeraanbod op basis van functie, rol en/of afdeling, en hebben op elk moment inzicht in hun voortgang op leeractiviteiten.
      </p>
    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-compliance/capp-compliance-realtime-historisch-inzicht.png", title: "CAPP Compliance Realtime & historische inzicht", alt: "CAPP Compliance Realtime & historisch inzicht" %>
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
      <%= image_tag "screenshots/capp-compliance/capp-compliance-kwaliteitspaspoort-new.png", title: "CAPP Compliance Kwaliteitspaspoort", alt: "CAPP Compliance Kwaliteitspaspoort" %>
    </div>

    <div class="col col-text">

      <h2>
        Veelzijdige bibliotheek
      </h2>

      <p>
        Gemakkelijk en snel toegang tot losse artikelen, video's en e-learning voor elke leervraag. De slimme zoekfunctie maakt werkplekondersteuning mogelijk.
      </p>

    </div>

  </div>

  <div class="row">

    <div class="col col-text">

      <h2>
        Flexibele leerpaden
      </h2>

      <p>
        Combineer losse leerelementen (deelonderwerpen) in flexibele leerpaden en bied leerinhoud aan passend bij verschillende leerbehoeften en context.
      </p>

    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-compliance/capp-compliance-clausules.svg", title: "CAPP Compliance relevante leerinterventies met clausules", alt: "CAPP Compliance relevante leerinterventies met clausules" %>
    </div>

  </div>

  <div class="row">

    <div class="col col-img">
      <%= image_tag "screenshots/capp-compliance/capp-compliance-centraal-decentraal-beheer.svg", title: "CAPP Compliance centraal & decentraal beheer", alt: "CAPP Compliance centraal & decentraal beheer" %>
    </div>

    <div class="col col-text">

      <h2>
        Skills & Assessments
      </h2>

      <p>
        Ondersteunen van zelfbeoordeling, peer review en geverifieerde beoordelingen - met handige checklistfunctie.
      </p>

    </div>

  </div>

  <div class="row">

    <div class="col col-text">

      <h2>
        Events
      </h2>

      <p>
        Gemakkelijk events plannen en beheren, met geïntegreerd taakbeheer, presentieregistratie en koppeling met eigen agenda. Neem events op in cursussen of bied ze los aan.
      </p>

    </div>

    <div class="col col-img">
      <%= image_tag "screenshots/capp-compliance/capp-compliance-api.svg", title: "CAPP Compliance API", alt: "CAPP Compliance API" %>
    </div>

  </div>

  <div class="row">

    <div class="col col-text">

      <h2>
        Authoring & Quizzes
      </h2>

      <p>
        Laat experts gemakkelijk cursusmateriaal en toetsen ontwikkelen, en up-to-date houden met de geïntegreerde auteurstool — zonder bijkomende kosten. Eenmalig aanmaken en in meerdere cursussen gebruiken.
      </p>

    </div>

  </div>

</section>
