<section class="product-overview amaranth" id="features">

  <h2>
    Van Leren tot Compliance
  </h2>

  <div class="row">

    <div class="col col-text">
      <h2>
        Persoonlijke leerervaring
      </h2>

      <p>
        Medewerkers krijgen een persoonlijk leeraanbod op basis van functie, rol en/of afdeling, en hebben op elk moment inzicht in hun voortgang op leeractiviteiten.
      </p>
    </div>

    <div class="col col-img">

      <%= image_tag "illustrations/capp-learning/capp-learning-persoonlijk.svg", title: "CAPP Learning - Persoonlijke leerervaring", alt: "CAPP Learning - Persoonlijke leerervaring" %>

    </div>

  </div>

  <div class="row">

    <div class="col col-img">

        <%= image_tag "illustrations/capp-learning/capp-learning-bibliotheek.svg", title: "CAPP Learning - Veelzijdige bibliotheek", alt: "CAPP Learning - Veelzijdige bibliotheek" %>

    </div>

    <div class="col col-text">

      <h2>
        Veelzijdige bibliotheek
      </h2>

      <p>
        Gemakkelijk en snel toegang tot losse artikelen, video's en e-learning voor elke leervraag. De slimme zoekfunctie maakt werkplekondersteuning mogelijk.
      </p>
    </div>

  </div>

  <div class="row">

    <div class="col col-text">

      <h2>
        Flexibele leerpaden
      </h2>

      <p>
        Combineer losse leerelementen (deelonderwerpen) in flexibele leerpaden en bied leerinhoud aan passend bij verschillende leerbehoeften en concrete vereisten (compliance).
      </p>

      <p>
        Meer weten over compliance in CAPP LMS?
      </p>

      <p>
        <%= link_to "CAPP Compliance", "/capp-compliance", class: "button outline amaranth" %>
      </p>

    </div>

    <div class="col col-img">

      <%= image_tag "illustrations/capp-learning/capp-learning-leerpaden.svg", title: "CAPP Learning - Flexibele leerpaden", alt: "CAPP Learning - Flexibele leerpaden" %>

    </div>

  </div>

  <div class="row">

    <div class="col col-img">

      <%= image_tag "illustrations/capp-learning/capp-learning-events.png", title: "CAPP Learning - Events", alt: "CAPP Learning - Events" %>

    </div>

    <div class="col col-text">

      <h2>
        Events
      </h2>

      <p>
        Gemakkelijk events plannen en beheren, met geïntegreerd taakbeheer, presentieregistratie en koppeling met eigen agenda. Neem events op in cursussen of bied ze los aan.
      </p>

    </div>

  </div>

  <div class="row">

    <div class="col col-text">

      <h2>
        Skills & Assessments
      </h2>

      <p>
        Ondersteunen van zelfbeoordeling, peer review en geverifieerde beoordelingen - met handige checklistfunctie.

    </div>

    <div class="col col-img">

      <%= image_tag "illustrations/capp-learning/capp-learning-skills-assessments.svg", title: "CAPP Learning - Skills & Assessments", alt: "CAPP Learning - Skills & Assessments" %>

    </div>

  </div>

  <div class="row">

    <div class="col col-img">

      <%= image_tag "illustrations/capp-learning/capp-learning-quiz-authoring.png", title: "CAPP Learning - Authoring & Quizzes", alt: "CAPP Learning - Authoring & quizzes" %>
    </div>

    <div class="col col-text">

      <h2>
        Authoring & Quizzes
      </h2>

      <p>
        Laat experts gemakkelijk cursusmateriaal en <%= link_to "toetsen", "/capp-quizzes" %> ontwikkelen, en up-to-date houden met de geïntegreerde auteurstool — zonder bijkomende kosten. Eenmalig aanmaken en in meerdere cursussen gebruiken.
      </p>

    </div>

  </div>

</section>
