<section class="clients">

  <div class="logos">

    <div class="client">
      <%= image_tag "clients/mumc.png", alt: "MUMC+", title: "MUMC+" %>
    </div>
    <div class="client">
      <%= image_tag "clients/kpn-consulting.png", alt: "KPN Consulting", title: "KPN Consulting" %>
    </div>
    <div class="client">
      <%= image_tag "clients/lumc.png", alt: "LUMC", title: "LUMC" %>
    </div>
    <div class="client">
      <%= image_tag "clients/sfg.png", alt: "Sint Franciscus Gasthuis", title: "Sint Franciscus Gasthuis" %>
    </div>
    <div class="client">
      <%= image_tag "clients/szw.png", alt: "Ministerie van Sociale Zaken en Werkgelegenheid", title: "Ministerie van Sociale Zaken en Werkgelegenheid" %>
    </div>
    <div class="client">
      <%= image_tag "clients/phoenix.png", alt: "Phoenix Opleidingen", title: "Phoenix Opleidingen" %>
    </div>
    <div class="client">
      <%= image_tag "clients/sogeti.png", alt: "Sogeti", title: "Sogeti" %>
    </div>
  </div>

</section>
