<section class="gray clients">

  <div class="logos">
    <a href="https://www.klinikum-itzehoe.de/" target="_blank" rel="noopener">
      <%= image_tag "clients/klinikum-itzehoe.gif", alt: "Klinikum Itzehoe", title: "Klinikum Itzehoe" %>
    </a>
    <a href="http://www.evangelischeskrankenhaus.de/" target="_blank" rel="noopener">
      <%= image_tag "clients/evangelisches-krankenhaus-oldenburg.gif", alt: "Evangelisches Krankenhaus Oldenburg", title: "Evangelisches Krankenhaus Oldenburg" %>
    </a>
    <a href="http://www.friedrich-ebert-krankenhaus.de/" target="_blank" rel="noopener">
      <%= image_tag "clients/fek.gif", alt: "Friedrich-Ebert-Krankenhaus", title: "Friedrich-Ebert-Krankenhaus" %>
    </a>
    <a href="http://www.pflegekammer-rlp.de/" target="_blank" rel="noopener">
      <%= image_tag "clients/landespflegekammer-rlp.png", alt: "Landespflegekammer Rheinland-Pfalz", title: "Landespflegekammer Rheinland-Pfalz" %>
    </a>
    <a href="https://www.mh-hannover.de/" target="_blank" rel="noopener">
      <%= image_tag "clients/mhh.png", alt: "Medizinische Hochschule Hannover", title: "Medizinische Hochschule Hannover" %>
    </a>
    <a href="http://www.tui.com" target="_blank" rel="noopener">
      <%= image_tag "clients/tui.gif", alt: "TUI", title: "TUI" %>
    </a>
    <a href="http://www.mumc.nl" target="_blank" rel="noopener">
      <%= image_tag "clients/mumc.gif", alt: "MUMC+", title: "MUMC+" %>
    </a>
  </div>

</section>
