<section class="gray clients">

  <div class="logos">
    <%= image_tag "clients/mumc.gif", alt: "MUMC+", title: "MUMC+" %>
    <%= image_tag "clients/kpn-consulting.gif", alt: "KPN Consulting", title: "KPN Consulting" %>
    <%= image_tag "clients/lumc.gif", alt: "LUMC", title: "LUMC" %>
    <%= image_tag "clients/sfg.gif", alt: "Sint Franciscus Gasthuis", title: "Sint Franciscus Gasthuis" %>
    <%= image_tag "clients/szw.gif", alt: "Ministerie van Sociale Zaken en Werkgelegenheid", title: "Ministerie van Sociale Zaken en Werkgelegenheid" %>
    <%= image_tag "clients/phoenix.gif", alt: "Phoenix Opleidingen", title: "Phoenix Opleidingen" %>
    <%= image_tag "clients/tui-nl.gif", alt: "TUI Nederland", title: "TUI Nederland" %>
    <%= image_tag "clients/sogeti.gif", alt: "Sogeti", title: "Sogeti" %>

  </div>

</section>
