<section class="clients">

  <h3>
    <%= t("clients.title") %>
  </h3>

  <div class="logos">

    <div class="client">
      <%= image_tag "clients/mono/logo-klinikum-itzehoe.svg", alt: "Klinikum Itzehoe", title: "Klinikum Itzehoe" %>
    </div>
    <div class="client">
      <%= image_tag "clients/mono/logo-evangelisches-krankenhaus-oldenburg.svg", alt: "Evangelisches Krankenhaus Oldenburg", title: "Evangelisches Krankenhaus Oldenburg" %>
    </div>
    <div class="client">
      <%= image_tag "clients/mono/logo-friedrich-eberhart-krankenhaus.svg", alt: "Friedrich-Ebert-Krankenhaus", title: "Friedrich-Ebert-Krankenhaus" %>
    </div>
    <div class="client">
      <%= image_tag "clients/mono/logo-landespflegekammer-rheinland-pfalz.svg", alt: "Landespflegekammer Rheinland-Pfalz", title: "Landespflegekammer Rheinland-Pfalz" %>
    </div>
    <div class="client">
      <%= image_tag "clients/mono/logo-medizinische-hogschule-hannover.svg", alt: "Medizinische Hochschule Hannover", title: "Medizinische Hochschule Hannover" %>
    </div>
    <div class="client">
      <%= image_tag "clients/mono/logo-tui.svg", alt: "TUI", title: "TUI" %>
    </div>
    <div class="client">
      <%= image_tag "clients/mono/logo-mumc.svg", alt: "MUMC+", title: "MUMC+" %>
    </div>

  </div>

  <%= link_to t("actions.more_about.clients"), "/klanten.html", class: "button blue outline" %>

</section>
