<section class="clients">

  <div class="logos">

    <div class="client">
      <%= image_tag "clients/mono/logo-mumc.svg", alt: "MUMC+", title: "MUMC+" %>
    </div>
    <div class="client">
      <%= image_tag "clients/mono/logo-lumc.svg", alt: "LUMC", title: "LUMC" %>
    </div>
    <div class="client">
      <%= image_tag "clients/mono/logo-sfgv.svg", alt: "Sint Franciscus Gasthuis & Vlietland", title: "Sint Franciscus Gasthuis & Vlietland" %>
    </div>
    <div class="client">
      <%= image_tag "clients/mono/logo-ministerie-szw.svg", alt: "Ministerie van Sociale Zaken en Werkgelegenheid", title: "Ministerie van Sociale Zaken en Werkgelegenheid" %>
    </div>
    <div class="client">
      <%= image_tag "clients/mono/logo-phoenix-opleidingen.svg", alt: "Phoenix Opleidingen", title: "Phoenix Opleidingen" %>
    </div>
    <div class="client">
      <%= image_tag "clients/mono/logo-tui.svg", alt: "TUI", title: "TUI" %>
    </div>
    <div class="client">
      <%= image_tag "clients/mono/logo-sogeti.svg", alt: "Sogeti", title: "Sogeti" %>
    </div>

  </div>

</section>
