<section class="cases-overview">

  <div class="row">

    <% if root_url? || current_page.locale_root_path =~ /klanten.html/ %>
      <div class="headline">
        <h2>
          <%= t("cases.overview.title") %>
        </h2>
      </div>
    <% else %>
      <h1>
        <%= t("cases.overview.title") %>
      </h1>
    <% end %>

    <div class="cases-overview-context">

      <p>
        <%= t("cases.overview.text") %>
      </p>

    </div>

    <div class="case-wrapper">

      <%
      articles = blog("cases").local_articles

      if defined?(count) && count.is_a?(Integer)
        articles = articles.take(count)
      end
      %>

      <% articles.each do |article| %>

        <div class="flex-item">

          <% link_to(article.url, class: "case", alt: article.title, style: "background-image: url(#{image_path(article.data.header_image)})") do %>

            <div class="case-content">

              <%= image_tag image_path(article.data.logo_white), class: "case-logo", alt: article.title, title: article.title %>

              <% if article.data.sub_title %>
                <p class="case-description">
                  <%= article.data.sub_title %>
                </p>
              <% end %>

            </div>

          <% end %>

        </div>

      <% end %>

    </div>

    <div class="cases-overview-context">

      <p>
        <%= t("cases.overview.contact_us") %>
      </p>

      <% unless current_page.url == "/cases/" %>
        <%= nav_link_to t("cases.all_cases"), "/cases/", class: "button orange outline" %>
      <% end %>

      <%= nav_link_to t("cases.contact"), "/contact.html#form", class: "button orange" %>

    </div>

  </div>

</section>
