<div class="header-image">

  <header class="header <%= header_style %> dropdown-menu" data-header="fixed">

    <div class="header-container">

      <div class="logo">

        <% locale_link_to("/", relative: false) do %>
          <%= inline_svg "logos/logo-defacto.svg", title: "Defacto Software" %>
        <% end %>

      </div>

      <a href="#" class="nav-trigger <%= "nav-trigger-white" if nav_white? %>">
        <span aria-hidden="true"></span>
      </a>

      <%= partial "header/main-nav" %>

    </div>

  </header>

  <%= partial "home/hero" if current_page.url == "/" %>
  <%= partial "capp-agile/hero" if current_page.url == "/capp-agile-learning/" %>
  <%= partial "capp-lms-new/hero" if root_locale == :nl && current_page.url == "/capp-lms/" %>

</div>
