<nav class="main-nav <%= header_style %>">
  <ul>
    <li>
      <%= nav_link_to t("header.home"), "/" %>
    </li>
    <li class="has-dropdown" data-content="products">
      <%= nav_link_to t("header.products"), "/producten.html" %>
    </li>
    <li class="has-dropdown" data-content="services">
      <%= nav_link_to t("header.services"), "/diensten.html" %>
    </li>
    <li class="has-dropdown" data-content="clients">
      <%= nav_link_to t("about.clients"), "/klanten.html" %>
    </li>
    <li class="has-dropdown" data-content="about-us">
      <%= nav_link_to t("header.about"), "/over-ons.html" %>
    </li>
    <li>
      <%= nav_link_to t("header.contact"), "/contact.html" %>
    </li>
    <li>
      <%= nav_link_to "", "/zoeken.html", { class: "header-search icon-search" } %>
    </li>
    <li class="flags">
      <%= country_flags %>
    </li>
  </ul>
</nav>

<div class="dropdown-wrapper">

  <div class="dropdown-arrow"></div>

  <div class="dropdown-list">
    <ul>
      <li id="products" class="dropdown gallery">

        <div class="content">
          <h5 class="dropdown-title">
            <%= nav_link_to t("header.products"), "/producten.html" %>
          </h5>

          <ul>
            <li>
              <% nav_link_to("/capp-lms.html", { class: "nav-capp" }) do %>
                <div>
                  <h6><%= t("products.capp.capp-lms") %></h6>
                  <%= markitdown t("nav.capp-lms") %>
                </div>
              <% end %>
            </li>

            <li>
              <% nav_link_to("/kwaliteitspaspoort.html", { class: "nav-kwaliteitspaspoort" }) do %>
                <div>
                  <h6><%= t("kwaliteitspaspoort.name") %></h6>
                  <%= markitdown t("nav.kwaliteitspaspoort") %>
                </div>
              <% end %>
            </li>

            <li>
              <% nav_link_to("/capp-agile-learning.html", { class: "nav-capp-agile" }) do %>
                <div>
                  <h6><%= t("capp-agile.name") %></h6>
                  <%= markitdown t("nav.capp-agile") %>
                </div>
              <% end %>
            </li>

            <li>
              <% nav_link_to("/e-learning-starterkit.html", { class: "nav-elearning-starterkit" }) do %>
                <div>
                  <h6><%= t("elearning_starterkit.name") %></h6>
                  <%= markitdown t("nav.starterkit") %>
                </div>
              <% end %>
            </li>

            <li>
              <% nav_link_to("/360-feedback.html", { class: "nav-360-feedback" }) do %>
                <div>
                  <h6><%= t("threesixty.name") %></h6>
                  <%= markitdown t("nav.threesixty") %>
                </div>
              <% end %>
            </li>
          </ul>
        </div>
      </li>

      <li id="services" class="dropdown links">
        <div class="content">
          <h5 class="dropdown-title">
            <%= nav_link_to t("header.services"), "/diensten.html" %>
          </h5>

          <ul class="links-list">
            <li><%= nav_link_to t("services.services.elearning.name"), "/e-learning.html" %></li>
            <li><%= nav_link_to t("services.services.implementaties.name"), "/implementaties.html" %></li>
            <li><%= nav_link_to t("services.services.hosting.name"), "/hosting-security.html" %></li>
            <li><%= nav_link_to t("services.services.koppelingen.name"), "/koppelingen.html" %></li>
          </ul>
        </div>
      </li>

      <li id="clients" class="dropdown links">
        <div class="content">
          <h5 class="dropdown-title">
            <%= nav_link_to t("about.clients"), "/klanten.html" %>
          </h5>

          <ul class="links-list">
            <li><%= nav_link_to t("about.testimonials"), "/testimonials.html" %></li>
          </ul>
        </div>
      </li>

      <li id="about-us" class="dropdown links">
        <div class="content">
          <h5 class="dropdown-title">
            <%= nav_link_to t("header.about"), "/over-ons.html" %>
          </h5>

          <ul class="links-list">
            <li><%= nav_link_to t("header.open-source"), "/open-source.html" %></li>
            <li><%= nav_link_to t("header.blog"), "/blog/index.html" %></li>
          </ul>
        </div>
      </li>

      <li id="search" class="dropdown search">
        <% link_to "/zoeken.html", { class: "button" } do %>
          <span class="icon-search"></span><%= t("search.heading") %>
        <% end %>
      </li>

      <li class="dropdown flags">
        <%= country_flags %>
      </li>
    </ul>

    <div class="bg-layer" aria-hidden="true"></div>
  </div>
</div>
