<div class="dropdown-root">

  <div class="dropdown-background" style="transform: translateX(452px) scaleX(0.707692) scaleY(1.1075);">
  </div>

  <div class="dropdown-arrow" style="transform: translateX(636px) rotate(45deg);"></div>

  <div class="dropdown-container" style="transform: translateX(452px); width: 68px; height: 443px;">

    <div class="dropdown-section left" data-dropdown="products">

      <div class="dropdown-content">

        <div class="products-group">

          <ul>

            <% if root_locale == :en %>
              <li>
                <% nav_link_to("/capp-lms.html", class: "link-container item-capp-lms") do %>
                  <div class="product-icon">
                    <%= inline_svg "icons/capp11.svg", title: t("products.capp.learn") %>
                  </div>
                  <div class="product-link-content">
                    <span class="link-title">
                      <%= t("products.capp.learn") %>
                    </span>
                    <p class="link-sub">
                      <%= t("nav.capp-learn") %>
                    </p>
                  </div>
                <% end %>
              </li>
            <% else %>
              <li>
                <% nav_link_to("/capp-lms.html", class: "link-container item-capp") do %>
                  <div class="product-icon">
                    <%= inline_svg "icons/learning-pink.svg", title: t("products.capp.capp-lms") %>
                  </div>
                  <div class="product-link-content">
                    <span class="link-title">
                      <%= t("products.capp.capp-lms") %>
                    </span>
                    <p class="link-sub">
                      <%= t("nav.capp-lms") %>
                    </p>
                  </div>
                <% end %>
              </li>
            <% end %>

            <% if root_locale == :de %>
              <li>
                <% nav_link_to("/capp-talent-management.html", class: "link-container item-capp-lms") do %>
                  <div class="product-icon">
                    <%= inline_svg "icons/capp-develop.svg", title: t("products.capp.develop") %>
                  </div>
                  <div class="product-link-content">
                    <span class="link-title">
                      <%= t("products.capp.develop") %>
                    </span>
                    <p class="link-sub">
                      <%= t("nav.capp-develop") %>
                    </p>
                  </div>
                <% end %>
              </li>
            <% end %>

            <li>
              <% nav_link_to("/kwaliteitspaspoort.html", class: "link-container item-quality") do %>
                <div class="product-icon">
                  <%= inline_svg "icons/quality-pass.svg", title: t("kwaliteitspaspoort.name") %>
                </div>
                <div class="product-link-content">
                  <span class="link-title">
                    <%= t("kwaliteitspaspoort.name") %>
                  </span>
                  <p class="link-sub">
                    <%= t("nav.kwaliteitspaspoort") %>
                  </p>
                </div>
              <% end %>
            </li>

            <% if root_locale == :nl %>
              <li>
                <% nav_link_to("/kwaliteitsmonitor.html", class: "link-container item-monitor") do %>
                  <div class="product-icon">
                    <%= inline_svg "icons/quality-monitor.svg", title: t("kwaliteitsmonitor.name") %>
                  </div>
                  <div class="product-link-content">
                    <span class="link-title">
                      <%= t("kwaliteitsmonitor.name") %>
                    </span>
                    <p class="link-sub">
                      <%= t("nav.kwaliteitsmonitor") %>
                    </p>
                  </div>
                <% end %>
              </li>
            <% end %>

            <li>
              <% nav_link_to("/capp-agile-learning.html", class: "link-container item-agile") do %>
                <div class="product-icon">
                  <%= inline_svg "icons/capp-agile-learning.svg", title: t("capp-agile.name") %>
                </div>
                <div class="product-link-content">
                  <span class="link-title">
                    <%= t("capp-agile.name") %>
                  </span>
                  <p class="link-sub">
                    <%= t("nav.capp-agile") %>
                  </p>
                </div>
              <% end %>
            </li>

            <li>
              <% nav_link_to("/360-feedback.html", class: "link-container item-360") do %>
                <div class="product-icon">
                  <%= inline_svg "icons/360-feedback.svg", title: t("threesixty.name") %>
                </div>
                <div class="product-link-content">
                  <span class="link-title">
                    <%= t("threesixty.name") %>
                  </span>
                  <p class="link-sub">
                    <%= t("nav.threesixty") %>
                  </p>
                </div>
              <% end %>
            </li>

            <% unless root_locale == :nl %>
              <li>
                <% nav_link_to("/e-learning-starterkit.html", class: "link-container item-starterkit") do %>
                  <div class="product-icon">
                    <%= inline_svg "icons/elearning-starterkit.svg", title: t("elearning_starterkit.name") %>
                  </div>
                  <div class="product-link-content">
                    <span class="link-title">
                      <%= t("elearning_starterkit.name") %>
                    </span>
                    <p class="link-sub">
                      <%= t("nav.starterkit") %>
                    </p>
                  </div>
                <% end %>
              </li>
            <% end %>

          </ul>

        </div>

      </div>

    </div>

    <div class="dropdown-section left" data-dropdown="service">

      <div class="dropdown-content">

        <div class="link-group">

          <% nav_link_to("/implementaties.html", class: "link-container with-icon") do %>
            <span class="link-title link-icon">
              <%= inline_svg "icons/implementations.svg", title: t("services.services.implementaties.name") -%>
              <%= t("services.services.implementaties.name") %>
            </span>
          <% end %>

          <% nav_link_to("/hosting-security.html", class: "link-container with-icon") do %>
            <span class="link-title link-icon">
              <%= inline_svg "icons/hosting-security.svg", title: t("services.services.hosting.name") -%>
              <%= t("services.services.hosting.name") %>
            </span>
          <% end %>

          <% nav_link_to("/koppelingen.html", class: "link-container with-icon") do %>
            <span class="link-title link-icon">
              <%= inline_svg "icons/integrations.svg", title: t("services.services.koppelingen.name") -%>
              <%= t("services.services.koppelingen.name") %>
            </span>
          <% end %>

          <% nav_link_to("/e-learning.html", class: "link-container with-icon") do %>
            <span class="link-title link-icon">
              <%= inline_svg "icons/elearning.svg", title: t("services.services.elearning.name") -%>
              <%= t("services.services.elearning.name") %>
            </span>
          <% end %>

        </div>

      </div>

    </div>

    <div class="dropdown-section left" data-dropdown="clients">

      <div class="dropdown-content">

        <div class="link-group">

          <% unless root_locale == :en %>
            <% nav_link_to("/cases/index.html", class: "link-container with-icon") do %>
              <span class="link-title link-icon">
                <%= inline_svg "icons/cases.svg", title: t("about.cases") -%>
                <%= t("about.cases") %>
              </span>
            <% end %>
          <% end %>

          <% nav_link_to("/testimonials.html", class: "link-container with-icon") do %>
            <span class="link-title link-icon">
              <%= inline_svg "icons/testimonials.svg", title: t("about.testimonials") -%>
              <%= t("about.testimonials") %>
            </span>
          <% end %>

        </div>

      </div>

    </div>

    <div class="dropdown-section left" data-dropdown="company">

      <div class="dropdown-content">

        <ul class="link-group link-list">

          <li>
            <% nav_link_to("/over-ons.html", class: "link-container with-icon") do %>
              <span class="link-title link-icon">
                <%= inline_svg "icons/about-us.svg", title: t("header.about") -%>
                <%= t("header.about") %>
              </span>
            <% end %>
          </li>

          <% unless root_locale == :en %>
            <li>
              <% nav_link_to("/support.html", class: "link-container with-icon") do %>
                <span class="link-title link-icon">
                  <%= inline_svg "icons/support.svg", title: t("header.support") -%>
                  <%= t("header.support") %>
                </span>
              <% end %>
            </li>
          <% end %>

          <li>
            <% nav_link_to("/blog/index.html", class: "link-container with-icon") do %>
              <span class="link-title link-icon">
                <%= inline_svg "icons/blog.svg", title: t("header.blog") -%>
                <%= t("header.blog") %>
              </span>
            <% end %>
          </li>

          <% unless root_locale == :en %>
            <li>
              <% nav_link_to("/themas.html", class: "link-container with-icon") do %>
                <span class="link-title link-icon">
                  <%= inline_svg "icons/themes.svg", title: t("header.themes") -%>
                  <%= t("header.themes") %>
                </span>
              <% end %>
            </li>
          <% end %>

          <li>
            <% nav_link_to("/open-source.html", class: "link-container with-icon") do %>
              <span class="link-title link-icon">
                <%= inline_svg "icons/open-source.svg", title: t("header.open-source") -%>
                <%= t("header.open-source") %>
              </span>
            <% end %>
          </li>

          <% unless root_locale == :en %>
            <li>
               <% nav_link_to("/evenementenagenda.html", class: "link-container with-icon") do %>
                <span class="link-title link-icon">
                  <%= inline_svg "icons/events.svg", title: t("header.events") -%>
                  <%= t("header.events") %>
                </span>
              <% end %>
            </li>

            <li>
              <% nav_link_to("/jobs/index.html", class: "link-container with-icon") do %>
                <span class="link-title link-icon">
                  <%= inline_svg "icons/jobs.svg", title: t("header.jobs") -%>
                  <%= t("header.jobs") %>
                </span>
              <% end %>
            </li>
          <% end %>

          <li>
            <% nav_link_to("/contact.html", class: "link-container with-icon") do %>
              <span class="link-title link-icon">
                <%= inline_svg "icons/contact.svg", title: t("header.contact") -%>
                <%= t("header.contact") %>
              </span>
            <% end %>
          </li>

        </ul>

      </div>

    </div>

    <div class="dropdown-section right" data-dropdown="languages">

      <div class="dropdown-content">

        <ul class="link-group link-list">
          <%= language_switcher_desktop %>
        </ul>

      </div>

    </div>

  </div>

</div>
