<section class="cta-bottom gray">
  <div class="row">

    <h3><%= t("cases.cta.title") %></h3>

    <form class="form-inline" accept-charset="UTF-8" action="<%= t("urls.contact") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="Contact over <%= current_article.title %> case">
      <input type="text" name="name" placeholder="<%= t("form.name") %> *" required>
      <input type="text" name="organisation" placeholder="<%= t("form.organisation") %> *" required>
      <input type="email" name="email" placeholder="<%= t("form.email") %> *" required>
      <input type="tel" name="phone" placeholder="<%= t("form.phone") %>">
      <button type="submit"><%= t("actions.make_appointment") %></button>
    </form>

  </div>
</section>
