<section id="contact-form" class="cta-bottom gray">
  <div class="row">

    <h2><%= t("cmt.form.header") %></h2>
    <p>
      <%= t("cmt.form.text") %>
    </p>
  </div>

  <div class="row">
    <form class="form-inline" accept-charset="UTF-8" action="<%= t("urls.contact") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="Contact over CMT">
      <input type="text" name="name" placeholder="<%= t("form.name") %>">
      <input type="text" name="organisation" placeholder="<%= t("form.organisation") %>" required>
      <input type="email" name="email" placeholder="<%= t("form.email") %>" required>
      <button type="submit"><%= t("form.submit") %></button>
    </form>
  </div>
</section>
