<section class="cta-bottom gray" id="contact-request">
  <div class="row">

    <div>
      <h2>
        Geïnteresseerd in meer informatie over de Compliance API?
      </h2>
      <p>
        Download ons handige productsheet met alle informatie.
      </p>
    </div>
  </div>

    <form class="form" accept-charset="UTF-8" action="<%= t("urls.contact") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="Contact - Compliance API">
      <input type="text" name="name" placeholder="<%= t("form.name") %> *" required>
      <input type="text" name="organisation" placeholder="<%= t("form.organisation") %> *" required>
      <input type="email" name="email" placeholder="<%= t("form.email") %> *" required>
      <input type="tel" name="phone" placeholder="<%= t("form.phone") %>">
      <input type="hidden" name="download" value="<%= full_url(data.downloads.compliance_api_productsheet[I18n.locale]) %>">
      <button type="submit"><%= t("actions.download_productsheet") %>&nbsp;&nbsp;<span class="icon-pdf"></span></button>
    </form>

</section>
