<%
if defined?(inline) && inline
  form_class = "form-inline"
else
  form_class = "form-contact"
end
%>

<section class="cta-bottom gray" id="contact-request">
  <div class="row">

    <h2>
      <%= t("events.cta_title") %>
    </h2>

    <form class="<%= form_class %>" accept-charset="UTF-8" action="<%= t("urls.register_event") %>" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="<%= page_title current_page %>">
      <div class="form-name">
        <input type="text" name="name" placeholder="<%= t("form.name") %>">
      </div>
      <div class="form-email">
        <input class="required" type="email" name="email" placeholder="<%= t("form.email") %>" required>
      </div>
      <% if defined?(num_persons) && num_persons %>
        <div class="form-persons">
          <select name="persons" id="demo-select">
            <option value="" disabled selected><%= t("form.persons") %></option>
            <option value="1" class="selected">1</option>
            <option value="2" class="selected">2</option>
            <option value="3" class="selected">3</option>
            <option value="4" class="selected">4</option>
            <option value="5" class="selected">5</option>
            <option value="6" class="selected">6</option>
            <option value="7" class="selected">7</option>
            <option value="8" class="selected">8</option>
            <option value="9" class="selected">9</option>
          </select>
        </div>
      <% end %>
      <div class="form-company">
        <input type="text" name="organisation" placeholder="<%= t("form.organisation") %>" required>
      </div>

      <button type="submit"><%= t("form.register") %></button>
    </form>

  </div>
</section>
