<section class="clients">

  <div class="logos">

    <div class="client">
      <%= image_tag "clients/radboudumc.png", alt: "Radboud Universitair Medisch Centrum", title: "Radboud Universitair Medisch Centrum" %>
    </div>
    <div class="client">
      <%= image_tag "clients/sana-kliniken.png", alt: "Sana Kliniken", title: "Sana Kliniken" %>
    </div>
    <div class="client">
      <%= image_tag "clients/kwintes.png", alt: "Kwintes", title: "Kwintes" %>
    </div>
    <div class="client">
      <%= image_tag "clients/nhl.png", alt: "NHL Hogeschool", title: "NHL Hogeschool" %>
    </div>
    <div class="client">
      <%= image_tag "clients/heliomare.png", alt: "Heliomare", title: "Heliomare" %>
    </div>
    <div class="client">
      <%= image_tag "clients/rivierenland.png", alt: "Ziekenhuis Rivierenland", title: "Ziekenhuis Rivierenland" %>
    </div>
    <div class="client">
      <%= image_tag "clients/doppio.png", alt: "Doppio Espresso", title: "Doppio Espresso" %>
    </div>
    <div class="client">
      <%= image_tag "clients/umcg.png", alt: "Universitair Medisch Centrum Groningen", title: "Universitair Medisch Centrum Groningen" %>
    </div>
    <div class="client">
      <%= image_tag "clients/dpa-benkis.png", alt: "DPA Benkis", title: "DPA Benkis" %>
    </div>

  </div>

</section>
