<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">

      <%= image_tag "logos/logo-capp-agile-learning-white-vertical.svg", alt: "CAPP Agile Learning logo", class: "logo-capp-agile-learning" %>

      <h1><%= t("capp-agile.hero.heading") %></h1>

      <h2><%= t("capp-agile.hero.sub_heading") if root_locale == :nl %></h2>

      <a class="button orange" href="#info-request" data-scroll-to-form><%= t("capp-agile.hero.action") %></a>

      <%= image_tag t("capp-agile.hero.img"), class: "hero-img", title: "CAPP Agile Learning", alt: "CAPP Agile Learning" %>

    </div>
  </div>
</div>
