<section class="why">

  <h2><%= t("capp-agile.why.heading") %></h2>

  <div class="row">

    <div class="reason">
      <div class="number">
        <span>1</span>
      </div>
      <h3><%= t("capp-agile.why.make_share.heading") %></h3>
      <%= markitdown t("capp-agile.why.make_share.copy") %>
    </div>

    <div class="reason">
      <div class="number">
        <span>2</span>
      </div>
      <h3><%= t("capp-agile.why.on_demand.heading") %></h3>
      <%= markitdown t("capp-agile.why.on_demand.copy") %>
    </div>

    <div class="reason">
      <div class="number">
        <span>3</span>
      </div>
      <h3><%= t("capp-agile.why.performance.heading") %></h3>
      <%= markitdown t("capp-agile.why.performance.copy") %>
    </div>

  </div>
  
</section>
