<div class="col post-subscribe">

  <h2><%= t("blog.subscribe") %></h2>

  <form class="validate form-inline" action="//defacto.us3.list-manage.com/subscribe/post?u=824afc560bd364b44c61499ad&amp;id=<%= t("urls.mc_newsletter") %>" method="post" id="mc-embedded-blog-subscribe-form" name="mc-embedded-blog-subscribe-form" target="_blank" novalidate>
    <div class="form-subscribe-inputs">
      <input type="text" name="NAME" placeholder="<%= t("form.name") %>" id="mce-NAME" required>
      <input type="email" name="EMAIL" placeholder="<%= t("form.email") %>" id="mce-EMAIL" required>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_824afc560bd364b44c61499ad_<%= t("urls.mc_newsletter") %>" tabindex="-1" value="">
      </div>
      <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-blog-subscribe"><%= t("form.submit") %></button>
    </div>
  </form>
</div>
