<div class="navigation-list">
  <h6><%= link_to t("header.products"), "/producten.html" %></h6>
  <ul>
    <li><%= link_to t("footer.capp.learn"), "/capp-lms.html" %></li>
    <li><%= link_to t("footer.capp.develop"), "/capp-entwickeln.html" %></li>
    <li><%= link_to t("kwaliteitspaspoort.name"), "/kwaliteitspaspoort.html" %></li>
    <li><%= link_to t("capp-agile.name"), "/capp-agile-learning.html" %></li>
    <li><%= link_to t("threesixty.name"), "/360-feedback.html" %></li>
  </ul>
</div>

<div class="navigation-list">
  <h6><%= link_to t("header.services"), "/diensten.html" %></h6>
  <ul>
    <li><%= link_to t("services.services.elearning.name"), "/e-learning.html" %></li>
    <li><%= link_to t("services.services.implementaties.name"), "/implementaties.html" %></li>
    <li><%= link_to t("services.services.hosting.name"), "/hosting-security.html" %></li>
    <li><%= link_to t("services.services.koppelingen.name"), "/koppelingen.html" %></li>
  </ul>
</div>

<div class="navigation-list">
  <h6>
    Defacto
  </h6>
  <ul>
    <li><%= link_to t("about.clients"), "/klanten.html" %></li>
    <li><%= link_to t("header.themes"), "/themas.html" %></li>
    <li><%= link_to t("header.about"), "/over-ons.html" %></li>
    <li><%= link_to t("header.open-source"), "/open-source.html" %></li>
    <li><%= link_to t("header.support"), "/support.html" %></li>
    <li><%= link_to t("header.jobs"), "/jobs/index.html" %></li>
    <li><%= link_to t("header.blog"), "/blog/index.html" %></li>
    <li><%= link_to t("header.contact"), "/contact.html" %></li>
    <li><%= link_to t("footer.search"), "/zoeken.html" %></li>
  </ul>
</div>
