<div class="hero">
  <div class="hero-inner">

    <h1>
      <%= t("demo_request.title") %>
    </h1>

    <p>
      <%= t("demo_request.sub_title") %>
    </p>

    <div class="card">

      <h2>
        <%= t("demo_request.form_title") %>
      </h2>

      <p>
        <%= t("demo_request.form_text") %>
      </p>

      <form class="form-conversion" accept-charset="UTF-8" action="<%= t("urls.contact") %>" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="form" value="<%= t("demo_request.formkeep_title") %>">
        <input type="text" name="name" placeholder="<%= t("form.name") %> *" required>
        <input type="text" name="organisation" placeholder="<%= t("form.organisation") %> *" required>
        <input type="email" name="email" placeholder="<%= t("form.email") %> *" required>
        <input type="tel" name="telephone" placeholder="<%= t("form.phone") %>">
        <button type="submit" class="button pink"><%= t("actions.make_appointment") %></button>
      </form>

    </div>

  </div>
</div>
