<div class="hero">
  <div class="hero-inner">

    <h1>
      <%= t("demo_request.title") %>
    </h1>

    <p>
      <%= t("demo_request.sub_title") %>
    </p>

    <div class="card">

      <h2>
        <%= t("demo_request.form_title") %>
      </h2>

      <p>
        <%= t("demo_request.form_text") %>
      </p>

      <%= partial "partials/form", locals: { title: "Demo Request",
                                             fields: ["name", "email", "organisation", "phone"],
                                             button_text: t("actions.make_appointment"),
                                             button_class: "button pink",
                                             action_url: t("urls.contact")} %>
    </div>

  </div>
</div>
